<form name="coverForm" class="form-horizontal">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group" ng-class="{'has-error': coverForm.url.$invalid && !coverForm.url.$pristine}">
        <input ng-paste="videoUrlPasted($event)" type="url" name="url" class="form-control big" placeholder="{{ 'paste_here_the_video_url' | translate}}" required/>
      </div>
      <div ng-if="cover.url">
        <div class="form-group embed-container">
          <embed-video ng-href="{{ cover.url }}"></embed-video>
        </div>
        <div class="form-group" ng-class="{'has-error': coverForm.artist.$invalid && !coverForm.artist.$pristine}">
          <input ng-model="cover.artist" type="text" name="artist" typeahead="artist.name for artist in searchArtists($viewValue)" typeahead-min-length="2" typeahead-on-select="selectArtist($item)" placeholder="
          {{ 'the_artist_or_band_name' | translate }}" class="form-control" required>
        </div>
        <div ng-if="cover.artist">
          <div class="form-group" ng-class="{'has-error': coverForm.music.$invalid && !coverForm.music.$pristine}">
            <input ng-model="cover.music" type="text" name="music" typeahead="music.title for music in searchMusics($viewValue)" typeahead-min-length="2" typeahead-on-select="selectMusic($item)" placeholder="{{ 'the_music_title' | translate }}" class="form-control" required>
          </div>
          <div class="form-group" ng-class="{'has-error': coverForm.author.$invalid && !coverForm.author.$pristine}">
            <input ng-model="cover.author" type="text" name="author" placeholder="{{ 'the_cover_author' | translate }}" class="form-control" required>
          </div>
        </div>
        <div class="form-group">
          <button ng-click="addCover()" ng-disabled="coverForm.$invalid" class="btn btn-primary btn-block btn-lg">
            {{ 'add_cover' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>