<form name="coverForm" class="form-horizontal">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group" ng-class="{'has-error': coverForm.url.$invalid && !coverForm.url.$pristine}">
        <input ng-paste="videoUrlPasted($event)" type="url" name="url" class="form-control big" placeholder="Paste here the video url" required/>
      </div>
      <div ng-show="cover.url">
        <div class="form-group embed-container">
          <embed-video ng-href="{{ cover.url }}"></embed-video>
        </div>
        <div class="form-group" ng-class="{'has-error': coverForm.artist.$invalid && !coverForm.artist.$pristine}">
          <input ng-model="cover.artist" type="text" name="artist" typeahead="artist.name for artist in searchArtists($viewValue)" typeahead-min-length="2" typeahead-on-select="selectArtist($item)" placeholder="The artist or band name" class="form-control" required>
        </div>
        <div ng-if="cover.artist">
          <div class="form-group" ng-class="{'has-error': coverForm.music.$invalid && !coverForm.music.$pristine}">
            <input ng-model="cover.music" type="text" name="music" typeahead="music.title for music in searchMusics($viewValue)" typeahead-min-length="2" typeahead-on-select="selectMusic($item)" placeholder="The music title" class="form-control" required>
          </div>
          <div class="form-group" ng-class="{'has-error': coverForm.video_author.$invalid && !coverForm.video_author.$pristine}">
            <div class="row">
              <div class="col-md-8">
                <input ng-model="cover.videoAuthor" ng-disabled="userIsAuthor" type="text" name="video_author" placeholder="The cover author" class="form-control" required>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <label>
                    <input ng-model="userIsAuthor" type="checkbox"> I did this cover!
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button ng-click="addCover()" ng-disabled="coverForm.$invalid" class="btn btn-primary btn-block btn-lg">
            Add Cover
          </button>
        </div>
      </div>
    </div>
  </div>
</form>