<div id="guideline" class="container">
  <div class="row">
    <div class="col-md-3">
      <div id="index" class="affix">
        <ul class="nav nav-stacked">
          <li>
            <a ng-href="{{ locale() }}/contest/guideline#just-covers">
              Apenas versão cover
            </a>
          </li>
          <li>
            <a ng-href="{{ locale() }}/contest/guideline#entering-the-contest">
              Entrando na competição
            </a>
          </li>
          <li>
            <a ng-href="{{ locale() }}/contest/guideline#winners">
              Vencedores
            </a>
          </li>
          <li>
            <a ng-href="{{ locale() }}/contest/guideline#prizes">
              Prêmios
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <h1>
        Cover Academy é o primeiro website do Brasil a promover competições online de música.
      </h1>
      <h1 class="nomargin"><small>Leia o nosso guia e saiba como participar!</small></h1>

      <h3 id="just-covers" class="bolder-text">
        Apenas versão cover
      </h3>
      <p>
        Infelizmente ainda não podemos aceitar músicas de autoria própria porque precisamos evoluir ainda mais o Cover Academy. Caso ache interessante ou tenha alguma sugestão, por favor entre em contato conosco. Ficaremos muito felizes em saber a sua opinião!
      </p>
      <h4 class="bg-primary padding10">
        Por enquanto só é permitido vídeos sobre pessoas cantando. Aguarde que em breve criaremos outras categorias de competições.
      </h4>

      <h3 id="entering-the-contest" class="bolder-text">
        Entrando na competição
      </h3>
      <p>
        Para participar você deve acessar a página de inscrição da competição e se autenticar utilizando sua conta nas redes sociais. Em seguida basta informar a URL do seu vídeo no YouTube no campo de inscrição, preencher as demais informações e submeter sua audição.
      </p>
      <h4 class="bg-primary padding10">
        A inscrição é <b>gratuita</b>, mas com o crescimento da nossa comunidade surgirão outras modalidades de competições com taxas de inscrição.
      </h4>
      <div class="callout callout-primary">
        <h4 class="bolder-text">Regras da competição</h4>
        <ul>
          <li>
            A conta do YouTube utilizada na inscrição para se autenticar deve ser a mesma conta do YouTube onde o vídeo está publicado;
          </li>
          <li>
            O vídeo deve ser publicado no YouTube entre as datas de lançamento e término da competição;
          </li>
          <li>
            Você pode publicar apenas um vídeo por competição e este não pode ser mais utilizado em outra competição;
          </li>
          <li>
            Residir no Brasil;
          </li>
        </ul>
      </div>
      <div class="callout callout-primary">
        <h4 class="bolder-text">Regras de criação do vídeo</h4>
        <ul>
          <li>
            Só é permitido cantar músicas de outros artistas/bandas (covers);
          </li>
          <li>
            Apenas uma pessoa pode cantar por vídeo (por enquanto);
          </li>
          <li>
            Você pode chamar outra pessoa para tocar um instrumento e ela pode estar no vídeo;
          </li>
          <li>
            Qualquer tipo de instrumento é permitido para ser utilizado enquanto canta;
          </li>
          <li>
            Apenas uma música por vídeo;
          </li>
          <li>
            O vídeo deve ser sobre você cantando, isso quer dizer que é preciso estar presente durante todo o vídeo. Leves efeitos podem ser utilizados no vídeo, mas nada exagerado.
          </li>
          <li>
            Não é permitido nenhum tipo de edição no áudio. Você pode utilizar um ótimo microfone e uma ótima câmera, mas não pode incluir nenhum tipo de efeito no aúdio durante ou após a gravação;
          </li>
          <li>
            O vídeo não pode conter nenhum conteúdo abusivo
          </li>
        </ul>
      </div>
      <h4 class="bg-warning padding10">
        Nós detemos o direito de remover a sua audição caso não cumpra as regras apresentadas anteriormente.
      </h4>

      <h3 id="winners" class="bolder-text">
        Vencedores
      </h3>
      <p>
        O principal critério para definir os vencedores da competição é a quantidade de pontos acumulados por meio de votos dos usuários nas audições. Para votar é necessário estar autenticado com a conta do Facebook ou Google.
      </p>
      <p>
        Os autores das audições mais pontuadas serão considerados os vencedores e terão direito aos prêmios.
      </p>
      <div class="callout callout-primary margin-top">
        <h4 class="bolder-text">Regras para voto</h4>
        <ul>
          <li>
            Usuário pode votar apenas uma vez no mesmo vídeo;
          </li>
          <li>
            Usuário pode votar em no máximo 5 vídeos diferentes da competição;
          </li>
          <li>
            Usuário não pode votar no seu próprio vídeo;
          </li>
        </ul>
      </div>

      <h3 id="prizes" class="bolder-text">
        Prêmios
      </h3>
      <p>
        Os prêmios podem ser em dinheiro ou materiais relacionados à música, como por exemplo, camisetas de bandas, capotrastes, pedais, pedaleiras, instrumentos musicais, etc...
      </p>
      <p>
        Inicialmente o Cover Academy oferecerá apenas prêmios em dinheiro pela facilidade de efetuar a transação com os vencedores. De acordo com o crescimento do Cover Academy, os valores dos prêmios aumentarão e passarão a valer também os outros tipos de prêmios citados acima.
      </p>
      <div class="callout callout-primary margin-top">
        <h4 class="bolder-text">Prêmios em dinheiro para o primeiro, segundo e terceiro colocado</h4>
        <ul>
          <li>
            O autor da audição com a maior pontuação é considerado o primeiro colocado e receberá uma quantia de 100 reais como premiação.
          </li>
          <li>
            O autor da audição com a segunda maior pontuação é considerado o segundo colocado e receberá uma quantia de 55 reais como premiação.
          </li>
          <li>
            O autor da audição com a terceira maior pontuação é considerado o terceiro colocado e receberá uma quantia de 35 reais como premiação.
          </li>
        </ul>
      </div>
      <h4 class="bg-primary padding10">
        No final da competição os vencedores receberão um email de 'sandro.csimas@gmail.com' solicitando uma conta bancária para ser feito a transferência do valor do prêmio. A transferência será feito em até 5 dias úteis após o término do concurso.
      </h4>
      <h4 class="bg-warning padding10">
        No caso de empate, o prêmio em dinheiro para a colocação será dividido igualmente entre os autores das audições.
      </h4>
      <h2>Obrigado por ler o nosso guia e boa sorte!</h2>
    </div>
  </div>
</div>