<div class="container">
  <h1>Contests administration</h1>
  <div class="tabbable-panel">
    <div class="tabbable-line">
      <tabset type="tabs">
        <tab heading="Auditions to Review">
          <div ng-repeat="row in partitionAuditionsToReview()" class="row">
            <div ng-repeat="auditionToReview in row" class="col-md-6">
              <div class="thumbnail">
                <div class="embed-container">
                  <embed-video href="{{ auditionToReview.url }}"></embed-video>
                </div>
                <div class="caption">
                  <form class="form-horizontal compacted">
                    <div class="form-group">
                      <label for="title-{{ auditionToReview.id }}" class="col-md-2 control-label">Title</label>
                      <div class="col-md-10">
                        <input ng-model="auditionToReview.title" type="text" id="title-{{ auditionToReview.id }}" class="form-control" placeholder="The audition title" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="description-{{ auditionToReview.id }}" class="col-md-2 control-label">Description</label>
                      <div class="col-md-10">
                        <textarea rows="3" ng-model="auditionToReview.description" type="text" id="desceiption-{{ auditionToReview.id }}" class="form-control" placeholder="The audition description" required>
                        </textarea>
                      </div>
                    </div>
                    <hr/>
                    <div class="row">
                      <div class="col-md-6">
                        <button type="button" ng-click="approveAudition(auditionToReview)" class="btn btn-success btn-block">
                          <span class="glyphicon glyphicon-ok"/> Approve
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button type="button" ng-click="disapproveAudition(auditionToReview)" class="btn btn-danger btn-block">
                          <span class="glyphicon glyphicon-remove"/> Disapprove
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Contests">
          <div ng-if="!creatingContest">
            <button class="btn btn-primary btn-lg" ng-click="createNewContest()">
              New contest
            </button>
          </div>
          <div ng-if="creatingContest" class="row">
            <div class="col-md-12">
              <h2 class="align-center no-margin">New contest</h2>
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="margin-top20">
                    <form name="createContestForm" class="form-horizontal">
                      <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">Name</label>
                        <div class="col-md-8">
                          <input type="text" name="name" ng-model="newContest.name" class="form-control" placeholder="Name" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">Image</label>
                        <div class="col-md-8">
                          <input type="text" name="image" ng-model="newContest.image" class="form-control" placeholder="Image" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">Minimum contestants</label>
                        <div class="col-md-8">
                          <input type="text" name="minimum_contestants" ng-model="newContest.minimum_contestants" class="form-control" placeholder="Minimum contestants" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">Acceptance date</label>
                        <div class="col-md-8">
                          <input type="text" name="acceptance_date" ng-model="newContest.acceptance_date" class="form-control" placeholder="Acceptance date" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">Start date</label>
                        <div class="col-md-8">
                          <input type="text" name="start_date" ng-model="newContest.start_date" class="form-control" placeholder="Start date">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">Duration</label>
                        <div class="col-md-8">
                          <input type="text" name="duration" ng-model="newContest.duration" class="form-control" placeholder="Duration" required>
                        </div>
                      </div>
                      <div class="form-group align-right">
                        <div class="col-md-12">
                          <button class="btn btn-primary btn-lg" ng-click="createContest()" ng-disabled="createContestForm.$invalid">
                            Create
                          </button>
                          <button class="btn btn-default btn-lg" ng-click="cancelContest()">
                            Cancel
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="!creatingContest" ng-repeat="contest in contests" class="row">
            <div class="col-md-12">
              <h2 class="align-center no-margin">{{ contest.name }}</h2>
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="margin-top20">
                    <form name="updateContestForm" class="form-horizontal">
                      <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">Name</label>
                        <div class="col-md-8">
                          <input type="text" name="name" ng-model="contest.name" class="form-control" placeholder="Name" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">Image</label>
                        <div class="col-md-8">
                          <input type="text" name="image" ng-model="contest.image" class="form-control" placeholder="Image" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">Minimum contestants</label>
                        <div class="col-md-8">
                          <input type="text" name="minimum_contestants" ng-model="contest.minimum_contestants" class="form-control" placeholder="Minimum contestants" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">Acceptance date</label>
                        <div class="col-md-8">
                          <input type="text" name="acceptance_date" ng-model="contest.acceptance_date" class="form-control" placeholder="Acceptance date" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">Start date</label>
                        <div class="col-md-8">
                          <input type="text" name="start_date" ng-model="contest.start_date" class="form-control" placeholder="Start date">
                        </div>
                      </div>
                      <div ng-if="isContestProgress(contest, 'running')" class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">End date</label>
                        <div class="col-md-8">
                          <input type="text" name="end_date" ng-model="contest.end_date" class="form-control" placeholder="End date">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">Duration</label>
                        <div class="col-md-8">
                          <input type="text" name="duration" ng-model="contest.duration" class="form-control" placeholder="Duration" required>
                        </div>
                      </div>
                      <div class="form-group align-right">
                        <div class="col-md-12">
                          <button class="btn btn-primary btn-lg" ng-click="updateContest(contest)" ng-disabled="updateContestForm.$invalid">
                            Update
                          </button>
                          <button class="btn btn-info btn-lg" ng-click="sendInscriptionEmail(contest)">
                            Send inscription email
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <hr/>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>