<div class="special-header contest">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="join">
            <div ng-if="isContestProgress('running')">
              <h4 class="align-left">{{ 'remaining_time' | translate }}:</h4>
              <h2 class="margin10 bolder-text">
                <span ng-if="remainingOneDay()">
                  <timer interval="60000" end-time="contest.end_date">
                    {{ hours }}
                    <small>{{ 'hours' | translate }}</small>
                    {{ minutes }}
                    <small>{{ 'minutes' | translate }}</small>
                  </timer>
                </span>
                <span ng-if="!remainingOneDay()">
                  <timer interval="60000" end-time="contest.end_date">
                    {{ days }}
                    <small>{{ 'days' | translate }}</small>
                    {{ hours }}
                    <small>{{ 'hours' | translate }}</small>
                  </timer>
                </span>
              </h2>
            </div>
            <a ng-if="isContestProgress('running') && !isContestant()" ui-sref="app.joinContest({locale: locale(), id: contest.id, slug: contest.slug})" class="btn btn-primary btn-lg btn-block">
              {{ 'join_now' | translate }}
            </a>
            <a ng-if="isContestProgress('running')" ui-sref="app.contestRules({locale: locale()})" class="btn btn-success btn-lg btn-block">
              {{ 'see_the_rules' | translate }}
            </a>
          </div>
        </div>
        <div class="col-md-6 nopadding">
          <div class="title">
            <h1 class="bolder-text">
              {{ contest.name }}
            </h1>
            <h3>{{ contest.description }}</h3>
          </div>
        </div>
        <div class="col-md-3">
          <div ng-if="!isContestProgress('finished')" class="share">
            <h4>{{ 'share_this_contest' | translate }}:</h4>
            <div>
              <a ng-href="http://www.facebook.com/sharer/sharer.php?u={{ siteUrl }}/{{ locale() }}/contest/{{ contest.id }}/{{ contest.slug }}" class="btn btn-social-icon btn-facebook" title="{{ 'share_on' | translate }} Facebook" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
              <a ng-href="http://twitter.com/share?url={{ siteUrl }}/{{ locale() }}/contest/{{ contest.id }}/{{ contest.slug }}" class="btn btn-social-icon btn-twitter" title="{{ 'share_on' | translate }} Twitter" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
              <a ng-href="https://plus.google.com/share?url={{ siteUrl }}/{{ locale() }}/contest/{{ contest.id }}/{{ contest.slug }}" class="btn btn-social-icon btn-google-plus" title="{{ 'share_on' | translate }} Google+" target="_blank">
                <i class="fa fa-google-plus"></i>
              </a>
            </div>
          </div>
          <div class="contestant" ng-if="isContestant()">
            <p>
              <a ui-sref="app.audition({locale: locale(), id: audition.id, slug: audition.slug})">
                <i class="glyphicon glyphicon-ok margin10" title="{{ 'watch_your_audition' | translate }}"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img ng-src="/img/contests/{{ contest.image }}">
</div>
<div ng-if="isContestProgress('running') && !hasAuditions()" class="container">
  <div class="jumbotron margin10 align-center">
    <h2>{{ 'be_the_first_to_join_the_contest' | translate }}</h2>
    <div class="padding-top">
      <a ui-sref="app.joinContest({locale: locale(), id: contest.id, slug: contest.slug})" class="btn btn-primary btn-largest">
        {{ 'join_now' | translate }}
      </a>
    </div>
    <h2 class="bolder-text">
      {{ 'help_us_sharing_this_contest' | translate }}:
    </h2>
    <div>
      <a ng-href="http://www.facebook.com/sharer/sharer.php?u={{ siteUrl }}/{{ locale() }}/contest/{{ contest.id }}/{{ contest.slug }}" class="btn btn-social-icon btn-facebook btn-lg" title="{{ 'share_on' | translate }} Facebook" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      <a ng-href="http://twitter.com/share?url={{ siteUrl }}/{{ locale() }}/contest/{{ contest.id }}/{{ contest.slug }}" class="btn btn-social-icon btn-twitter btn-lg" title="{{ 'share_on' | translate }} Twitter" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a ng-href="https://plus.google.com/share?url={{ siteUrl }}/{{ locale() }}/contest/{{ contest.id }}/{{ contest.slug }}" class="btn btn-social-icon btn-google-plus btn-lg" title="{{ 'share_on' | translate }} Google+" target="_blank">
        <i class="fa fa-google-plus"></i>
      </a>
    </div>
  </div>
</div>
<div ng-if="isContestProgress('waiting')" class="container">
  <div class="jumbotron margin10 align-center">
    <h2>{{ 'this_contest_is_not_happening_yet' | translate }}</h2>
    <h2>
      {{ 'we_need_more_contestants_to_start_the_contest' | translate: {contestantsRemaining: contestantsRemaining()} }}
    </h2>
    <div ng-if="!isContestant()" class="padding-top">
      <a ui-sref="app.joinContest({locale: locale(), id: contest.id, slug: contest.slug})" class="btn btn-primary btn-largest">
        {{ 'join_now' | translate }}
      </a>
      <a ui-sref="app.contestRules({locale: locale()})" class="btn btn-success btn-largest">
        {{ 'see_the_rules' | translate }}
      </a>
    </div>
    <div ng-if="isContestant()" class="padding-top">
      <a ui-sref="app.audition({locale: locale(), id: audition.id, slug: audition.slug})" class="btn btn-info btn-largest">
        {{ 'you_are_participating' | translate }}
      </a>
    </div>
  </div>
</div>
<div ng-if="isContestProgress('finished')" class="container">
  <div class="jumbotron white margin10">
    <h2 class="nomargin align-center">{{ 'this_contest_was_finished' | translate }}</h2>
    <div ng-if="hasWinners()" ng-repeat="row in winnerAuditions | partition: 3" class="row">
      <h1 class="align-center bolder-text">{{ 'winners' | translate }}</h1>
      <div ng-repeat="audition in row" class="col-md-4">
        <div class="thumbnail">
          <div class="winner box">
            <a class="user" ui-sref="app.user({locale: locale(), id: audition.user.id})">
              <img ng-src="/img/users/{{ audition.user.image }}">
              <div class="text">
                <h2 class="bolder-text">{{ audition.user.name }}</h2>
              </div>
            </a>
            <a class="audition" ui-sref="app.audition({locale: locale(), id: audition.id, slug: audition.slug})">
              <img ng-src="{{ audition.medium_thumbnail }}">
            </a>
            <img class="medal" ng-src="/img/badges/{{ getMedal(audition) }}-medal.png">
          </div>
        </div>
        <div class="thumbnail align-center">
          <h4>
            <a ui-sref="app.audition({locale: locale(), id: audition.id, slug: audition.slug})">
              {{ 'watch_the_audition' | translate }}
            </a>
          </h4>
        </div>
      </div>
    </div>
    <div ng-if="isContestant()">
      <h1 class="align-center bolder-text">{{ 'your_audition' | translate }}</h1>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <audition ng-model="audition" locale="{{ locale() }}" thumb-size="big" score-by-audition="getScoreByAudition(audition)">
          </audition>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-if="(isContestProgress('running') || isContestProgress('finished')) && hasAuditions()" class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>
        <span ng-if="isRanked('best')">
          {{ 'best_auditions' | translate }}
        </span>
        <span ng-if="isRanked('latest')">
          {{ 'latest_auditions' | translate }}
        </span>
      </h1>
    </div>
    <div class="col-md-4 align-right" style="padding-top: 36px;">
      <h4>
        <a ng-if="isRanked('best')" ui-sref="app.contest({locale: locale(), id: contest.id, slug: contest.slug, rank: 'latest'})">
          {{ 'see_the_latest_auditions' | translate }}
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <a ng-if="isRanked('latest')" ui-sref="app.contest({locale: locale(), id: contest.id, slug: contest.slug, rank: 'best'})">
          {{ 'see_the_best_auditions' | translate }}
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </h4>
    </div>
  </div>
  <div class="row" ng-repeat="row in auditions | partition: 3">
    <div ng-repeat="audition in row" class="col-md-4">
      <audition ng-model="audition" locale="{{ locale() }}" score-by-audition="getScoreByAudition(audition)">
      </audition>
    </div>
  </div>
  <div class="align-center">
    <pagination total-items="totalAuditions" items-per-page="auditionsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
  </div>
</div>