<div class="container">
	<h1 class="page-header">{{ 'latest_contests' | translate }}</h1>
	<div ng-repeat="contest in contests">
		<div class="row">
			<div class="col-md-12">
				<div class="contest-cover" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ contest.image }}');">
					<a ui-sref="app.contest({id: contest.id, slug: contest.slug})">
						<h1 class="align-center no-margin">{{ contest.name }} <i class="glyphicon glyphicon-link"></i></h1>
					</a>
					<div class="contest-infos">
						<h3 class="no-margin">
							{{ 'total_contestants_and_votes' | translate: {totalVotes: getTotalVotes(contest), totalAuditions: getTotalAuditions(contest)} }}
							<span ng-if="contest.start_date">
								·
								{{ contest.start_date | amCalendar }}
							</span>
							<span ng-if="contest.end_date">
								·
								{{ contest.end_date | amCalendar }}
							</span>
						</h3>
					</div>
					<div ng-if="hasWinnerAuditions(contest)">
				    <h3 class="align-center">{{ 'winners' | translate }}</h3>
				    <div ng-repeat="row in getWinnerAuditions(contest) | partition: 3" class="winner row with-padding">
				      <div ng-repeat="audition in row" class="col-md-4">
				      	<div class="thumbnail">
					        <audition ng-model="audition" locale="{{ locale() }}" border="false">
					        </audition>
					      </div>
				      </div>
				    </div>
				  </div>
				  <div ng-if="!hasWinnerAuditions(contest) && !isContestFinished(contest)" class="align-center">
				  	<a ui-sref="app.joinContest({locale: locale(), id: contest.id, slug: contest.slug})" class="btn btn-primary btn-largest">
	          {{ 'join_now' | translate }}
	       		</a>
		        <a ui-sref="app.contestGuideline({locale: locale()})" class="btn btn-success btn-largest">
		          {{ 'read_the_rules' | translate }}
		        </a>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>