<section id="contest" class="white section" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('{{ contest.image }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="title">
          {{ contest.name }}
        </h1>
        <div class="row" ng-if="!isContestProgress('finished')">
          <div class="col-md-6">
            <h3 class="no-margin">
              <a ng-href="http://www.facebook.com/sharer/sharer.php?u={{ siteUrl }}/{{ locale() }}/contest/{{ contest.id }}/{{ contest.slug }}" class="btn btn-social-icon btn-facebook btn-lg" title="{{ 'share_on' | translate }} Facebook" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
              <a ng-href="http://twitter.com/share?url={{ siteUrl }}/{{ locale() }}/contest/{{ contest.id }}/{{ contest.slug }}" class="btn btn-social-icon btn-twitter btn-lg" title="{{ 'share_on' | translate }} Twitter" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
              <a ng-href="https://plus.google.com/share?url={{ siteUrl }}/{{ locale() }}/contest/{{ contest.id }}/{{ contest.slug }}" class="btn btn-social-icon btn-google-plus btn-lg" title="{{ 'share_on' | translate }} Google+" target="_blank">
                <i class="fa fa-google-plus"></i>
              </a>
            </h3>
          </div>
          <div class="col-md-6 text-center" ng-if="!isContestant()">
            <a class="btn btn-primary btn-lg" ui-sref="app.joinContest({locale: locale(), id: contest.id, slug: contest.slug})">
              {{ 'sign_up_my_video' | translate }}
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4" ng-if="isContestProgress('running')">
        <contest-timer ng-model="contest"></contest-timer>
      </div>
      <div class="col-md-4" ng-if="isContestProgress('finished')">
        <div class="bg-success">
          <h2 class="text-center text-uppercase no-margin">
            {{ 'contest_finished' | translate }}
          </h2>
        </div>
      </div>
    </div>
    <div id="prizes" ng-show="isShowPrizes()">
      <div class="row" ng-repeat="row in contest.prizes | partition: 3">
        <div class="col-md-4 prize text-center" ng-repeat="prize in row">
          <div class="card padding">
            <h3 ng-if="isPrizePlace(prize, 1)" class="prize-place no-margin">
              {{ 'first_place' | translate }}
            </h3>
            <h3 ng-if="isPrizePlace(prize, 2)" class="prize-place no-margin">
              {{ 'second_place' | translate }}
            </h3>
            <h3 ng-if="isPrizePlace(prize, 3)" class="prize-place no-margin">
              {{ 'third_place' | translate }}
            </h3>
            <h2 class="no-margin">
              {{ prize.name }}
              <small ng-if="hasPrizeDetails(prize)">
                <a ng-click="showPrizeDetails(prize)">
                  <i class="glyphicon glyphicon-question-sign"></i>
                </a>
              </small>
            </h2>
            <div ng-show="isShowPrizeDetails(prize)">
              <img ng-if="prize.image" ng-src="{{ prize.image }}" class="prize-image">
              <h4 ng-if="prize.full_name">{{ prize.full_name }}</h4>
              <p ng-if="prize.description" class="text-justify">{{ prize.description }}</p>
              <p ng-if="prize.link">
                <a ng-href="{{ prize.link }}" target="_blank" rel="nofollow">{{ 'see_on_sponsors_website' | translate }}</a>
              </p>
            </div>
            <h4 ng-if="prize.sponsor.id">
              {{ 'offered_by' | translate }}
              <a ng-href="{{ prize.sponsor.website }}" target="_blank" rel="nofollow">
                {{ prize.sponsor.name }}
              </a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="show-prizes">
    <a ng-click="showPrizes()">
      <span ng-show="hidePrizes">
        <span class="glyphicon glyphicon-plus"></span> {{ 'show_prizes' | translate }}
      </span>
      <span ng-show="!hidePrizes">
        <span class="glyphicon glyphicon-minus"></span> {{ 'hide_prizes' | translate }}
      </span>
    </a>
  </div>
</section>
<section id="infos" class="warning white section no-margin" ng-if="isContestProgress('waiting')">
  <div class="container">
    <h2 class="text-center no-margin">
      {{ 'we_need_more_contestants_to_begin_the_contest' | translate: {contestantsRemaining: contestantsRemaining()} }}
    </h2>
  </div>
</section>
<section id="infos" class="warning white section no-margin" ng-if="isContestProgress('waiting_time')">
  <div class="container">
    <h2 class="text-center no-margin">
      {{ 'voting_will_begin_at' | translate }}
      <span class="text-lowercase">{{ contest.start_date | amCalendar }}</span>.
    </h2>
  </div>
</section>
<section id="infos" class="warning white section no-margin" ng-if="isContestDraw()">
  <div class="container">
    <h2 class="no-margin">
      {{ 'the_contest_is_drawn_first_part' | translate }}
    </h2>
    <h2 class="no-margin">
      {{ 'the_contest_is_drawn_second_part' | translate }}
    </h2>
  </div>
</section>
<section id="auditions">
  <div class="margin text-center" ng-if="isContestant() && !isAuditionApproved()">
    <a ui-sref="app.audition({locale: locale(), id: audition.id, slug: audition.slug})" class="btn btn-info btn-largest">
      {{ 'you_are_participating' | translate }}
      <h4>
        {{ 'waiting_for_approval' | translate }}
      </h4>
    </a>
  </div>
  <div ng-if="isContestProgress('waiting') || isContestProgress('waiting_time')" class="container">
    <div class="jumbotron white margin text-center" ng-if="!hasAuditions() && !isContestant()">
      <h2>{{ 'be_the_first_to_join_the_contest' | translate }}</h2>
      <div class="padding-top">
        <a ui-sref="app.joinContest({locale: locale(), id: contest.id, slug: contest.slug})" class="btn btn-primary btn-largest">
          {{ 'sign_up_my_video' | translate }}
        </a>
        <a ui-sref="app.contestGuideline({locale: locale()})" class="btn btn-info btn-largest">
          {{ 'read_the_rules' | translate }}
        </a>
      </div>
    </div>
  </div>
  <div ng-if="(isContestProgress('waiting') || isContestProgress('waiting_time')) && hasAuditions()" class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>
          <span>
            {{ 'latest_auditions' | translate }}
          </span>
          <small>• {{ 'many_auditions_in_this_contest' | translate: {totalAuditions: totalAuditions} }}</small>
        </h1>
      </div>
    </div>
    <div class="row padding-top" ng-repeat="row in auditions | partition: 3">
      <div ng-repeat="audition in row" class="col-md-4">
        <audition ng-model="audition" locale="{{ locale() }}" thumb-size="large">
        </audition>
      </div>
    </div>
  </div>
  <div ng-if="isContestProgress('finished')" class="container margin-top">
    <div ng-if="hasWinners()">
      <h1 class="text-center">{{ 'winners' | translate }}</h1>
      <div ng-repeat="row in winnerAuditions | partition: 3" class="winner row padding-top">
        <div ng-repeat="audition in row" class="col-md-4 block-center">
          <a ui-sref="{{ userState(audition.user) }}">
            <div profile-picture="audition.user" class="profile-picture large img-circle block-center"></div>
          </a>
          <h3 class="text-center text-bold">
            {{ audition.place }}º
            <a ui-sref="{{ userState(audition.user) }}">
              {{ audition.user.name }}
            </a>
          </h3>
        </div>
      </div>
    </div>
    <div ng-if="!hasWinners()">
      <div class="jumbotron white">
        <h1 class="text-center">{{ 'we_have_no_winners' | translate }} =(</h1>
      </div>
    </div>
    <div ng-if="isContestant()">
      <h1 class="text-center text-bold">{{ 'your_audition' | translate }}</h1>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <audition ng-model="audition" locale="{{ locale() }}" thumb-size="large" show-score="true" score-by-audition="getScoreByAudition(audition)">
          </audition>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="isContestProgress('running') || isContestProgress('finished')" class="container">
    <div ng-if="hasUserVotes()">
      <div class="row">
        <div class="col-md-12">
          <h2>
            {{ 'your_votes' | translate }}
            <small ng-if="hasRemainingVotes()">
              • {{ 'you_can_still_vote_for_other_contestants' | translate: {remainingVotes: remainingVotes()} }}
            </small>
            <small ng-if="!hasRemainingVotes()">
              • {{ 'you_have_already_voted_on_five_contestants' | translate }}
            </small>
          </h2>
          <div ng-repeat="userVote in userVotes" class="pull-left">
            <a ui-sref="app.audition({id: userVote.audition.id, slug: userVote.audition.slug})">
              <div profile-picture="userVote.audition.user" class="profile-picture small">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h2>
          <span ng-if="isRanked('best')">
            {{ 'top_rated_auditions' | translate }}
          </span>
          <span ng-if="isRanked('latest')">
            {{ 'latest_auditions' | translate }}
          </span>
          <span ng-if="isRanked('random')">
            {{ 'random_auditions' | translate }}
          </span>
          <small>
            • {{ 'many_auditions_in_this_contest' | translate: {totalAuditions: totalAuditions} }}
          </small>
        </h2>
      </div>
      <div class="col-md-4 text-right" style="padding-top: 27px;">
        <div ng-if="isRanked('best')" class="btn-group">
          <a class="btn btn-default font-big" ui-sref="app.contest({locale: locale(), id: contest.id, slug: contest.slug, rank: 'latest'})">
            {{ 'see_the_latest_auditions' | translate }}
          </a>
          <a class="btn btn-default font-big" ui-sref="app.contest({locale: locale(), id: contest.id, slug: contest.slug, rank: 'random'})">
            {{ 'see_the_random_auditions' | translate }}
          </a>
        </div>
        <div ng-if="isRanked('latest')" class="btn-group">
          <a class="btn btn-default font-big" ui-sref="app.contest({locale: locale(), id: contest.id, slug: contest.slug, rank: 'best'})">
            {{ 'see_the_top_rated_auditions' | translate }}
          </a>
          <a class="btn btn-default font-big" ui-sref="app.contest({locale: locale(), id: contest.id, slug: contest.slug, rank: 'random'})">
            {{ 'see_the_random_auditions' | translate }}
          </a>
        </div>
        <div ng-if="isRanked('random')" class="btn-group">
          <a class="btn btn-default font-big" ui-sref="app.contest({locale: locale(), id: contest.id, slug: contest.slug, rank: 'best'})">
            {{ 'see_the_top_rated_auditions' | translate }}
          </a>
          <a class="btn btn-default font-big" ui-sref="app.contest({locale: locale(), id: contest.id, slug: contest.slug, rank: 'latest'})">
            {{ 'see_the_latest_auditions' | translate }}
          </a>
        </div>
      </div>
    </div>
    <div class="row padding-top" ng-repeat="row in auditions | partition: 3">
      <div ng-repeat="audition in row" class="col-md-4">
        <audition ng-model="audition" locale="{{ locale() }}" thumb-size="large" show-score="true" score-by-audition="getScoreByAudition(audition)">
        </audition>
      </div>
    </div>
  </div>
</section>
<section id="other-contests" class="white section" ng-if="hasRunningContests()">
  <div class="contest" ng-repeat="contest in runningContests" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ contest.image }}');">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2 class="title">
            <a ui-sref="app.contest({id: contest.id, slug: contest.slug})">
              {{ contest.name }}
            </a>
          </h2>
        </div>
        <div class="col-md-4 text-right">
          <contest-timer ng-model="contest"></contest-timer>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="sponsors" class="white section" ng-if="hasSponsors()">
  <div class="container">
    <h2 class="title">{{ 'partners' | translate }}</h2>
    <div class="text-center">
      <a ng-repeat="sponsorInContest in contest.sponsorsInContest" ng-href="{{ sponsorInContest.sponsor.website }}" title="{{ sponsorInContest.sponsor.name }}" target="_blank" rel="nofollow">
       <img class="brand" ng-src="{{ sponsorInContest.sponsor.logo }}">
      </a>
    </div>
  </div>
</section>