<div class="guideline container">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-9">
      <h1>
        Cover Academy é o primeiro website do Brasil a promover competições online de música.
      </h1>
      <h1 class="nomargin"><small>Leia o nosso guia e aprenda a como participar!</small></h1>

      <h3 class="bolder-text">Entrando na competição</h3>
      <p>
        Para participar você deve acessar a página de inscrição da competição e autenticar-se utilizando sua conta já existente no Google e YouTube. Em seguida basta informar a URL do vídeo do YouTube no campo de inscrição, preencher as demais informações e submeter sua inscrição.
      </p>
      <div class="bs-callout bs-callout-info">
        <h4 class="bolder-text">Regras da competição</h4>
        <ul>
          <li>
            A conta do Google utilizada para inscrição da competição deve ser a mesma  utilizada para publicar o vídeo no YouTube;
          </li>
          <li>
            O vídeo deve ser publicado no YouTube entre as datas de lançamento e término do competição;
          </li>
          <li>
            Você pode publicar apenas uma audição por competição;
          </li>
          <li>
            Residir no Brasil;
          </li>
        </ul>
      </div>
      <div class="bs-callout bs-callout-info">
        <h4 class="bolder-text">Regras de criação do vídeo</h4>
        <ul>
          <li>
            Apenas uma pessoa pode cantar por vídeo (por enquanto);
          </li>
          <li>
            Você pode chamar outra pessoa para tocar um instrumento para você e ela pode estar no vídeo;
          </li>
          <li>
            Apenas uma música por vídeo;
          </li>
          <li>
            Não é permitido nenhum tipo de edição no áudio ou no vídeo;
          </li>
          <li>
            Qualquer tipo de instrumento é permitido para ser utilizado enquanto canta;
          </li>
          <li>
            O vídeo não pode conter nenhum conteúdo abusivo
          </li>
        </ul>
      </div>
      <h4 class="bg-warning padding10">
        Nós detemos o direito de remover a sua audição caso não cumpra as regras apresentadas anteriormente.
      </h4>

      <h3 class="bolder-text">Vencedores</h3>
      <p>
        O principal critério para definir os vencedores da competição é a quantidade de pontos acumulados por meio de votos dos usuários nas audições. Para votar é necessário estar autenticado com a conta do Facebook, Twitter ou Google. 
      </p>
      <p>
        Os usuários donos das audições mais pontuadas são considerados os vencedores e terão direito aos prêmios.
      </p>
      <div class="bs-callout bs-callout-info margin-top">
        <h4 class="bolder-text">Regras para voto</h4>
        <ul>
          <li>
            Apenas um voto por vídeo pode ser feito pelo usuário;
          </li>
          <li>
            Usuário pode votar em no máximo 5 vídeos da competição;
          </li>
          <li>
            Usuário não pode votar no seu próprio vídeo;
          </li>        
        </ul>
      </div>

      <h3 class="bolder-text">Prêmios</h3>
      <p>
        Os prêmios podem ser em dinheiro ou relacionados à música, como por exemplo, camisetas de bandas, capotrastes, instrumentos musicais, etc...
      </p>
      <p>
        Inicialmente o Cover Academy oferecerá prêmios em dinheiro pela simplicidade de efetuar a transação com os vencedores. De acordo com o crescimento do Cover Academy, os valores dos prêmios aumentarão e passarão a valer também os outros tipos de prêmios citados acima.
      </p>
      <div class="bs-callout bs-callout-info margin-top">
        <h4 class="bolder-text">Prêmios em dinheiro para o primeiro, segundo e terceiro colocado</h4>
        <ul>
          <li>
            O autor da audição com a maior pontuação é considerado o primeiro colocado e receberá uma quantia de 100 reais como premiação.
          </li>
          <li>
            O autor da audição com a segunda maior pontuação é considerado o segundo colocado e receberá uma quantia de 55 reais como premiação.
          </li>
          <li>
            O autor da audição com a terceira maior pontuação é considerado o terceiro colocado e receberá uma quantia de 35 reais como premiação.
          </li>        
        </ul>
      </div>
      <h4 class="bg-warning padding10">
        No caso de empate o prêmio em dinheiro para a colocação será dividido igualmente entre os autores das audições.
      </h4>

      <h2>Obrigado por ler o nosso guia e boa sorte!  </h2>
    </div>
  </div>
</div>