<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="section-title">
        <h1 class="title">
          {{ 'cover_video_title' | translate: cover }}
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <cover image="{{ cover.artist.medium_thumbnail }}" link="app.artist({locale: '{{ locale() }}', artist: '{{ cover.artist.slug }}'})" legend="{{ cover.artist.name }}" height="126"></cover>
      <cover image="{{ cover.music.medium_thumbnail }}" link="app.music({locale: '{{ locale() }}', music: '{{ cover.music.slug }}'})" legend="{{ cover.music.title }}" height="126"></cover>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="embed-container">
            <embed-video ng-href="{{ cover.url }}"></embed-video>
          </div>
        </div>
      </div>
      <div class="row padding-top">
        <div class="col-md-9 font-big">
          <p>
            {{ 'cover_by' | translate }} {{ cover.author }}
          </p>
          <p>
            {{ 'added' | translate }} <span am-time-ago="cover.registration_date"></span>
            • <span am-time-ago="cover.video_date"></span>
            <a ng-href="{{ cover.url }}" target="_blank">{{ 'on_youtube' | translate }}</a>
          </p>
        </div>
        <div class="col-md-3 text-right">
          <a ng-href="http://www.facebook.com/sharer/sharer.php?u={{ siteUrl }}/{{ locale() }}/cover/{{ cover.id }}/{{ cover.slug }}" class="btn btn-social-icon btn-facebook" title="{{ 'share_on' | translate }} Facebook" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
          <a ng-href="http://twitter.com/share?url={{ siteUrl }}/{{ locale() }}/cover/{{ cover.id }}/{{ cover.slug }}" class="btn btn-social-icon btn-twitter" title="{{ 'share_on' | translate }} Twitter" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
          <a ng-href="https://plus.google.com/share?url={{ siteUrl }}/{{ locale() }}/cover/{{ cover.id }}/{{ cover.slug }}" class="btn btn-social-icon btn-google-plus" title="{{ 'share_on' | translate }} Google+" target="_blank">
            <i class="fa fa-google-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="section-title">
        <h3>
          {{ 'more_covers_of' | translate }}
          <a ui-sref="app.music({locale: locale(), music: cover.music.slug})">
            {{ cover.music.title }}
          </a>
        </h3>
      </div>
      <cover-songs ng-model="bestCoversOfMusic" locale="{{ locale() }}"></cover-songs>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="section-title">
        <h3>
          {{ 'more_covers_by' | translate }}
          <a ui-sref="app.artist({locale: locale(), artist: cover.artist.slug})">
            {{ cover.artist.name }}
          </a>
        </h3>
      </div>
      <cover-songs ng-model="bestCoversByArtist" locale="{{ locale() }}"></cover-songs>
    </div>
  </div>
</div>