<div class="row">
  <div class="col-md-12 align-center">
    <div class="page-title">
      <h1 class="title">
        {{ 'COVER_VIDEO_TITLE' | translate: cover }}
      </h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <cover image="{{ cover.artist.medium_thumbnail }}" link="artist({artist: '{{ cover.artist.slug }}'})" legend="{{ cover.artist.name }}" height="126"></cover>
    <cover image="{{ cover.music.medium_thumbnail }}" link="music({music: '{{ cover.artist.slug }}'})" legend="{{ cover.music.title }}" height="126"></cover>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <div class="embed-container">
          <embed-video ng-href="{{ cover.url }}"></embed-video>
        </div>
      </div>
    </div>
    <div class="row padding">
      <div class="col-md-9 font-big">
        <p>
          {{ 'COVER_BY' | translate }} {{ cover.author }}
        </p>
        <p>
          {{ 'ADDED' | translate }} <span am-time-ago="cover.registration_date"></span>
          • <span am-time-ago="cover.video_date"></span>
          <a ng-href="{{ cover.url }}">{{ 'ON_YOUTUBE' | translate }}</a>
        </p>
      </div>
      <div class="col-md-3 align-right">
        <a ng-href="http://www.facebook.com/sharer/sharer.php?u=http://www.promessadepolitico.com.br/politico/{{ politician.slug }}" title="Compartilhe as promessas de {{ politician.name }} no Facebook" class="icon icon-facebook" target="_blank"></a>
        <a ng-href="http://twitter.com/share?url=http://www.promessadepolitico.com.br/politico/{{ politician.slug }}" title="Compartilhe as promessas de {{ politician.name }} no Twitter" class="icon icon-twitter"target="_blank"></a>
        <a ng-href="https://plus.google.com/share?url=http://www.promessadepolitico.com.br/politico/{{ politician.slug }}" title="Compartilhe as promessas de {{ politician.name }} no Google+" class="icon icon-googleplus"target="_blank"></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="page-title">
      <h3>
        {{ 'MORE_COVERS_OF' | translate }}
        <a ui-sref="music({music: cover.music.slug})">
          {{ cover.music.title }}
        </a>
      </h3>
    </div>
    <cover-songs ng-model="bestCoversOfMusic"></cover-songs>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="page-title">
      <h3>
        {{ 'MORE_COVERS_BY' | translate }}
        <a ui-sref="artist({artist: cover.artist.slug})">
          {{ cover.artist.name }}
        </a>
      </h3>
    </div>
    <cover-songs ng-model="bestCoversByArtist"></cover-songs>
  </div>
</div>