<section id="running-contests" class="section" ng-if="hasContests(runningContests)">
  <div class="container">
    <h2 class="title">{{ 'contests_happening' | translate }}</h2>
		<div ng-repeat="contest in runningContests" class="contest">
			<div class="row margin-bottom">
				<div class="col-md-8">
					<h2 class="title">
            <a ui-sref="app.contest({id: contest.id, slug: contest.slug})">
              {{ contest.name }}
            </a>
          </h2>
          <div class="padding-top">
            <span class="label">
              {{ totalRunningAuditions(contest) }} {{ 'contestants' | translate }}
            </span>
            <span class="label">
              {{ 'prizes' | translate }}:
              <span ng-repeat="prize in contest.prizes">{{ prize.name }} / </span>
            </span>
          </div>
				</div>
				<div class="col-md-4">
					<timer end-time="contest.end_date">
						<ul class="countdown">
							<li>
								<span class="days time-font">{{ days }}</span>
								<p>{{ 'days' | translate }}</p>
							</li>
							<li>
								<span class="hours time-font">{{ hours }}</span>
								<p>{{ 'hours' | translate }}</p>
							</li>
							<li>
								<span class="minutes time-font">{{ minutes }}</span>
								<p>{{ 'minutes' | translate }}</p>
							</li>
							<li>
								<span class="seconds time-font">{{ seconds }}</span>
								<p>{{ 'seconds' | translate }}</p>
							</li>
						</ul>
					</timer>
				</div>
			</div>
			<div class="row margin-bottom">
        <div ng-repeat="audition in latestAuditions(contest)" class="col-md-4">
          <audition ng-model="audition" locale="{{ locale() }}">
          </audition>
        </div>
      </div>
      <div class="row">
      	<div class="col-md-12">
	        <a ui-sref="app.contest({id: contest.id, slug: contest.slug})" class="btn btn-success btn-lg">
	          {{ 'vote' | translate }}
	        </a>
	        <a ui-sref="app.joinContest({locale: locale(), id: contest.id, slug: contest.slug})" class="btn btn-primary btn-lg">
	          {{ 'join_now' | translate }}
	        </a>
	        <a ui-sref="app.contest({id: contest.id, slug: contest.slug})" class="pull-right more-auditions">
	          {{ 'more_auditions' | translate }}
	          <span class="glyphicon glyphicon-chevron-right"></span>
	        </a>
	      </div>
      </div>
		</div>
	</div>
</section>

<section id="next-contests" class="section" ng-if="hasContests(waitingContests)">
  <div class="container">
    <h2 class="title">{{ 'next_contests' | translate }}</h2>
    <div class="contest align-center" ng-repeat="contest in waitingContests">
      <h2 class="title">
      	<a ui-sref="app.contest({id: contest.id, slug: contest.slug})">
          {{ contest.name }}
      	</a>
      </h2>
      <div class="prizes">
        <div class="prize" ng-repeat="prize in contest.prizes">
          <h3>{{ prize.place }}º {{ 'place' | translate }}</h3>
          <h3 class="no-margin">
            {{ prize.name }}
          </h3>
        </div>
      </div>
      <h3>{{ 'we_need_more_contestants_to_begin_the_contest' | translate: {contestantsRemaining: contestantsRemaining(contest)} }}</h3>
      <div class="row">
        <div class="col-md-12">
          <a ui-sref="app.joinContest({locale: locale(), id: contest.id, slug: contest.slug})" class="btn btn-primary btn-lg">
            {{ 'join_now' | translate }}
          </a>
          <a ui-sref="app.contestGuideline({locale: locale()})" class="btn btn-warning btn-lg">
            {{ 'read_the_rules' | translate }}
          </a>
        </div>
      </div>
		</div>
	</div>
</section>

<section id="past-winners" class="section">
	<div class="container">
		<h2 class="title">{{ 'past_winners' | translate }}</h2>
		<div class="row align-center">
      <div class="col-md-4" ng-repeat="winnerAudition in latestWinnerAuditions">
        <a ui-sref="{{ userState(winnerAudition.user) }}">
          <div profile-picture="winnerAudition.user" class="profile-picture large img-circle block-center">
          </div>
        </a>
        <h3>
          {{ winnerAudition.place }}º
          <a ui-sref="{{ userState(winnerAudition.user) }}">
            {{ winnerAudition.user.name }}
          </a>
        </h3>
      </div>
    </div>
	</div>
</section>

<section id="covers" class="section">
	<div class="container">
	  <div class="row">
	    <div class="col-md-6">
	      <h2 class="title">{{ 'best_covers' | translate }}</h2>
	    </div>
	    <div class="col-md-6 align-right">
	      <h2>
          <a ui-sref="app.coversRank({locale: locale(), rank: 'best'})" autoscroll="false">
            {{ 'more_covers' | translate }}
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
	      </h2>
	    </div>
	  </div>
	  <cover-songs ng-model="bestCovers" locale="{{ locale() }}" thumb-size="large"></cover-songs>
	  <div class="row margin-top20">
	    <div class="col-md-6">
	      <h2 class="title">{{ 'latest_covers' | translate }}</h2>
	    </div>
	    <div class="col-md-6 align-right">
	      <h2>
          <a ui-sref="app.coversRank({locale: locale(), rank: 'latest'})" autoscroll="false">
            {{ 'more_covers' | translate }}
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
	      </h2>
	    </div>
	  </div>
	  <cover-songs ng-model="latestCovers" locale="{{ locale() }}" thumb-size="large"></cover-songs>
	 </div>
</section>

<section id="sponsors" class="section" ng-if="hasSponsors()">
	<div class="container">
    <h2 class="title">{{ 'partners' | translate }}</h2>
    <div class="align-center">
      <a ng-repeat="sponsor in sponsors" ng-href="{{ sponsor.website }}" title="{{ sponsor.name }}" target="_blank" rel="nofollow">
       <img class="brand" ng-src="{{ sponsor.logo }}">
      </a>
    </div>
  </div>
</section>