<div class="special-header contest">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 nopadding">
          <div class="title">
            <h1 class="bolder-text">
              <a ui-sref="app.contest({locale: locale(), id: contest.id, slug: contest.slug})">
                {{ contest.name }}
              </a>
            </h1>
            <h3>{{ contest.description }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img ng-src="/img/contests/{{ contest.image }}">
</div>
<div class="container">
  <div ng-if="!usingGoogleAccount">
    <h1 class="align-center">{{ 'join_contest_signin_google_account' | translate }}</h1>
    <div class="row padding">
      <div class="col-md-6 col-md-offset-3">
        <a ng-click="signinWithGoogle()" class="btn btn-lg btn-block btn-social btn-google-plus">
          <i class="fa fa-google-plus"></i> Google
        </a>
      </div>
    </div>
  </div>
  <div ng-if="usingGoogleAccount && !usingYoutubeAccount">
    <h1 class="align-center">{{ 'join_contest_signin_youtube_account_title' | translate }}</h1>
    <h2 class="align-center">{{ 'join_contest_signin_youtube_account' | translate }}</h2>
    <div class="row padding">
      <div class="col-md-6 col-md-offset-3">
        <a ng-click="signinWithYoutube()" class="btn btn-lg btn-block btn-social btn-youtube">
          <i class="fa fa-youtube"></i> Youtube
        </a>
      </div>
    </div>
  </div>
  <form ng-if="usingGoogleAccount && usingYoutubeAccount" name="auditionForm" class="form-horizontal">
    <h2 class="align-center">{{ 'join_contest_paste_video_url' | translate }}</h2>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-group" ng-class="{'has-error': auditionForm.url.$invalid && !auditionForm.url.$pristine}">
          <input ng-paste="videoUrlPasted($event)" type="url" name="url" class="form-control big" placeholder="{{ 'paste_here_the_video_url' | translate}}" required/>
        </div>
        <div ng-if="audition.url">
          <div class="form-group embed-container">
            <embed-video ng-href="{{ audition.url }}"></embed-video>
          </div>
          <div class="form-group" ng-class="{'has-error': auditionForm.title.$invalid && !auditionForm.title.$pristine}">
            <input ng-model="audition.title" type="text" name="title" placeholder="{{ 'the_audition_title' | translate }}" class="form-control" required>
          </div>
          <div class="form-group">
            <textarea ng-model="audition.description" name="description" placeholder="{{ 'the_audition_description' | translate }}" class="form-control" rows="3">
            </textarea>
          </div>
          <div class="form-group">
            <button ng-click="joinContest()" ng-disabled="auditionForm.$invalid" class="btn btn-primary btn-block btn-lg">
              {{ 'join_contest' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>