<div class="special-header contest">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 nopadding">
          <div class="title">
            <h1 class="nomargin">
              <a ui-sref="app.contest({locale: locale(), id: contest.id, slug: contest.slug})">
                {{ contest.name }}
              </a>
            </h1>
            <h4 class="align-justify">{{ contest.description }}</h4>
          </div>
        </div>
        <div class="col-md-3">
          <div ng-if="!isContestProgress('finished')" class="share">
            <h4>{{ 'share_this_contest' | translate }}:</h4>
            <div>
              <a ng-href="http://www.facebook.com/sharer/sharer.php?u={{ siteUrl }}/{{ locale() }}/contest/{{ contest.id }}/{{ contest.slug }}" class="btn btn-social-icon btn-facebook" title="{{ 'share_on' | translate }} Facebook" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
              <a ng-href="http://twitter.com/share?url={{ siteUrl }}/{{ locale() }}/contest/{{ contest.id }}/{{ contest.slug }}" class="btn btn-social-icon btn-twitter" title="{{ 'share_on' | translate }} Twitter" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
              <a ng-href="https://plus.google.com/share?url={{ siteUrl }}/{{ locale() }}/contest/{{ contest.id }}/{{ contest.slug }}" class="btn btn-social-icon btn-google-plus" title="{{ 'share_on' | translate }} Google+" target="_blank">
                <i class="fa fa-google-plus"></i>
              </a>
            </div>
          </div>
          <div class="contestant" ng-if="isContestant()">
            <p>
              <a ui-sref="app.audition({locale: locale(), id: audition.id, slug: audition.slug})">
                <i class="glyphicon glyphicon-ok margin10" title="{{ 'watch_your_audition' | translate }}"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img ng-src="/img/contests/{{ contest.image }}">
</div>
<div ng-if="!isContestProgress('finished') && !isContestant()" class="container">
  <div ng-if="!usingGoogleAccount">
    <h1 class="align-center">{{ 'join_contest_signin_google_account' | translate }}</h1>
    <div class="row padding">
      <div class="col-md-6 col-md-offset-3">
        <a ng-click="signinWithGoogle()" class="btn btn-lg btn-block btn-social btn-google-plus">
          <i class="fa fa-google-plus"></i> Google
        </a>
      </div>
    </div>
  </div>
  <div ng-if="usingGoogleAccount && !usingYoutubeAccount">
    <h1 class="align-center">{{ 'join_contest_signin_youtube_account_title' | translate }}</h1>
    <h2 class="align-center">{{ 'join_contest_signin_youtube_account' | translate }}</h2>
    <div class="row padding">
      <div class="col-md-6 col-md-offset-3">
        <a ng-click="signinWithYoutube()" class="btn btn-lg btn-block btn-social btn-youtube">
          <i class="fa fa-youtube"></i> Youtube
        </a>
      </div>
    </div>
  </div>
  <form ng-if="usingGoogleAccount && usingYoutubeAccount" name="auditionForm" class="form-horizontal">
    <h2 class="align-center">{{ 'join_contest_paste_video_url' | translate }}</h2>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-group" ng-class="{'has-error': auditionForm.url.$invalid && !auditionForm.url.$pristine}">
          <input ng-paste="videoUrlPasted($event)" type="url" name="url" class="form-control big" placeholder="{{ 'paste_here_the_video_url' | translate}}" required/>
        </div>
        <div ng-if="audition.url">
          <div class="form-group embed-container">
            <embed-video ng-href="{{ audition.url }}"></embed-video>
          </div>
          <div class="form-group" ng-class="{'has-error': auditionForm.title.$invalid}">
            <input ng-model="audition.title" type="text" name="title" placeholder="{{ 'the_audition_title' | translate }}" class="form-control" required>
          </div>
          <div class="form-group" ng-class="{'has-error': auditionForm.description.$invalid}">
            <textarea ng-model="audition.description" name="description" placeholder="{{ 'the_audition_description' | translate }}" class="form-control" rows="3" required>
            </textarea>
          </div>
          <div class="form-group">
            <button ng-click="joinContest()" ng-disabled="auditionForm.$invalid" class="btn btn-primary btn-block btn-lg">
              {{ 'join_contest' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div ng-if="isContestProgress('finished') || isContestant()" class="container">
  <div class="jumbotron margin10">
    <div ng-if="isContestProgress('finished')" class="align-center">
      <h1 class="nomargin">
        {{ 'this_contest_was_finished' | translate }}
      </h1>
      <h2>
        <a ui-sref="app.contest({locale: locale(), id: contest.id, slug: contest.slug})">
          {{ 'back_to_the_contest_page' | translate }}
        </a>
      </h2>
    </div>
    <div ng-if="isContestant()" class="align-center">
      <h1 class="nomargin">
        {{ 'you_are_already_in_the_contest' | translate }}
      </h1>
      <h2 class="align-center">
        <a ui-sref="app.audition({locale: locale(), id: userAudition.id, slug: userAudition.slug})">
          {{ 'watch_your_audition' | translate }}
        </a>
        <br/>
        {{ 'or' | translate }}
        <br/>
        <a ui-sref="app.contest({locale: locale(), id: contest.id, slug: contest.slug})">
          {{ 'back_to_the_contest_page' | translate }}
        </a>
      </h2>
    </div>
  </div>
</div>