<div class="row">
  <div class="col-md-12">
    <div class="media">
      <div ng-if="music.small_thumbnail" class="pull-left">
        <img class="medium-thumbnail" ng-src="{{ music.small_thumbnail }}">
      </div>
      <div class="media-body">
        <h1 class="media-heading">
          {{ music.title }} {{ 'BY_LOWERCASE' | translate }}
          <a ui-sref="artist({artist: music.artist.slug})">{{ music.artist.name }}</a>
        </h1>
        <p class="font-biggest">
          <span class="label label-info">{{ totalCoversOfMusic }} covers</span>
        </p>
        <div class="pull-right">
          <div class="btn-group">
            <a class="btn btn-default" ui-sref="music({music: music.slug, rank: 'best'})" ng-class="{'active': isRanked('best')}">
              {{ 'BEST_COVERS' | translate }}
            </a>
            <a class="btn btn-default" ui-sref="music({music: music.slug, rank: 'latest'})" ng-class="{'active': isRanked('latest')}">
              {{ 'LATEST_COVERS' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-section20">
  <div class="align-center">
    <pagination total-items="totalCoversOfMusic" items-per-page="coversPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
  </div>
  <cover-songs ng-model="coversOfMusic"></cover-songs>
  <div class="align-center">
    <pagination total-items="totalCoversOfMusic" items-per-page="coversPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
  </div>
</div>