<div class="special-header">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="thumbnail">
            <img ng-src="/img/genres/{{ musicGenre.image }}">
          </div>
          <div>
            <h1 class="bolder-text big">
              <a ui-sref="app.musicGenre({locale: locale(), genre: musicGenre.slug})">{{ musicGenre.name }}</a>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img ng-src="/img/genres/{{ musicGenre.image }}">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title">
        <div class="row">
          <div class="col-md-7">
            <h1>
              <span ng-if="isRanked('best')">
                {{ 'the_best_music_genre_covers' | translate: {musicGenre: musicGenre.name} }}
              </span>
              <span ng-if="isRanked('latest')">
                {{ 'the_latest_music_genre_covers' | translate: {musicGenre: musicGenre.name} }}
              </span>
            </h1>
          </div>
          <div class="col-md-5 align-right" style="padding-top: 36px;">
            <h4>
              <a ng-if="isRanked('best')" ui-sref="app.musicGenreRank({locale: locale(), genre: musicGenre.slug, rank: 'latest'})">
                {{ 'see_the_latest_music_genre_covers' | translate: {musicGenre: musicGenre.name} }}
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
              <a ng-if="isRanked('latest')" ui-sref="app.musicGenreRank({locale: locale(), genre: musicGenre.slug, rank: 'best'})">
                {{ 'see_the_best_music_genre_covers' | translate: {musicGenre: musicGenre.name} }}
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </h4>
          </div>
        </div>
      </div>
      <div class="align-center">
        <pagination total-items="totalCoversOfMusicGenre" items-per-page="coversPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
      </div>
      <cover-songs ng-model="coversOfMusicGenre" locale="{{ locale() }}"></cover-songs>
      <div class="align-center">
        <pagination total-items="totalCoversOfMusicGenre" items-per-page="coversPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
      </div>
    </div>
  </div>
</div>