<div class="row">
  <div class="col-md-12">
    <div class="media">
      <div class="pull-left">
        <img class="medium-thumbnail" ng-src="/img/genres/{{ musicGenre.image }}">
      </div>
      <div class="media-body">
        <h1 class="media-heading">{{ musicGenre.name }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="page-title">
  <div class="row">
    <div class="col-md-8">

    </div>
    <div class="col-md-4 align-right">
      <h3 class="title">
        <small>
          <a ui-sref="app.artists({locale: locale(), genre: musicGenre.slug})">
            {{ 'SEE_ALL_MUSIC_GENRE_ARTISTS' | translate: musicGenre }}
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </small>
      </h3>
    </div>
  </div>
</div>
<div class="row">
  <div ng-repeat="artist in bestArtistsOfMusicGenre" class="col-md-2">
    <cover image="{{ artist.medium_thumbnail }}" link="app.artist({locale: '{{ locale() }}', artist: '{{ artist.slug }}'})" legend="{{ artist.name }}" height="155"></cover>
  </div>
</div>
<div class="page-title">
  <div class="row">
    <div class="col-md-8">
      <h3 class="title">
        {{ 'THE_BEST_MUSIC_GENRE_COVERS' | translate: musicGenre }}
      </h3>
    </div>
    <div class="col-md-4 align-right">
      <h3 class="title">
        <small>
          <a ui-sref="app.musicGenreRank({locale: locale(), genre: musicGenre.slug, rank: 'best'})">
            {{ 'MORE_COVERS' | translate }}
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </small>
      </h3>
    </div>
  </div>
</div>
<cover-songs ng-model="bestCoversOfMusicGenre" locale="{{ locale() }}"></cover-songs>
<div class="page-title">
  <div class="row">
    <div class="col-md-8">
      <h3 class="title">
        {{ 'THE_LATEST_MUSIC_GENRE_COVERS' | translate: musicGenre }}
      </h3>
    </div>
    <div class="col-md-4 align-right">
      <h3 class="title">
        <small>
          <a ui-sref="app.musicGenreRank({locale: locale(), genre: musicGenre.slug, rank: 'latest'})">
            {{ 'MORE_COVERS' | translate }}
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </small>
      </h3>
    </div>
  </div>
</div>
<cover-songs ng-model="latestCoversOfMusicGenre" locale="{{ locale() }}"></cover-songs>