<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="align-center">{{ totalResults }} {{ 'results_for' | translate }} "{{ searchQuery }}"</h1>
    </div>
  </div>
  <div class="row" ng-repeat="artist in artists">
    <div class="col-md-12">
      <div class="page-title">
        <h2>
          <img class="small-thumbnail" ng-src="{{ artist.small_thumbnail }}">
          <a ui-sref="artist({artist: artist.slug})">
            {{ artist.name }}
          </a>
        </h2>
      </div>
      <cover-songs ng-model="coversByArtists[artist.id]" locale="{{ locale() }}"></cover-songs>
    </div>
  </div>
  <div class="row" ng-repeat="music in musics">
    <div class="col-md-12">
      <div class="page-title">
        <h2>
          <img class="small-thumbnail" ng-src="{{ music.small_thumbnail }}">
          <a ui-sref="app.music({locale: locale(), music: music.slug})">
            {{ music.title }}
          </a>
          by
          <a ui-sref="app.artist({locale: locale(), artist: music.artist.slug})">
            {{ music.artist.name }}
          </a>
        </h2>
      </div>
      <cover-songs ng-model="coversOfMusics[music.id]" locale="{{ locale() }}"></cover-songs>
    </div>
  </div>
</div>