<div class="container">
  <h1>{{ 'menus.settings' | translate }}</h1>
  <div id="settings" class="tabbable-panel">
    <div class="tabbable-line">
      <tabset type="tabs">
        <tab heading="{{ 'menus.profile' | translate | uppercase }}">
          <form ng-if="!userFound" name="profileForm" class="form-horizontal">
            <div class="form-group">
              <label for="name" class="control-label col-md-2">
                {{ 'forms.name' | translate }}
              </label>
              <div class="col-md-6" ng-class="{'has-error': profileForm.name.$dirty && profileForm.name.$invalid}">
                <input ng-model="user.name" type="text" id="name" name="name" class="form-control" placeholder="{{ 'forms.name' | translate }}" required>
              </div>
            </div>
            <div class="form-group">
              <label for="username" class="control-label col-md-2">
                {{ 'forms.username' | translate }}
              </label>
              <div class="col-md-6">
                <input ng-model="user.username" ng-disabled="!canEditUsername()" type="text" id="username" name="username" class="form-control" placeholder="{{ 'forms.username' | translate }}">
                <span class="help-block">
                  {{ 'forms.username_first_help' | translate }} {{ siteUrl }}/{{ locale() }}/user/{{ sampleUsername() }}
                </span>
                <span class="help-block" ng-if="canEditUsername()">
                  {{ 'forms.edit_username_help' | translate }}
                </span>
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="control-label col-md-2">
                {{ 'forms.email' | translate }}
              </label>
              <div class="col-md-6" ng-class="{'has-error': profileForm.email.$dirty && profileForm.email.$invalid}">
                <input ng-model="user.email" type="text" id="email" name="email" class="form-control" placeholder="{{ 'forms.email' | translate }}" required>
                <span ng-if="isUnverifiedEmail()" class="help-block text-right font-normal">
                  <a ng-click="resendVerificationEmail()">{{ 'forms.resend_verification_email' | translate }}</a>
                </span>
                <span class="help-block">
                  {{ 'forms.edit_email_help' | translate }}
                </span>
              </div>
            </div>
            <div class="form-group">
              <label for="gender" class="control-label col-md-2">
                {{ 'forms.gender' | translate }}
              </label>
              <div class="col-md-3" ng-class="{'has-error': profileForm.gender.$dirty && profileForm.gender.$invalid}">
                <select ng-model="user.gender" id="gender" name="gender" class="form-control">
                  <option value="male">{{ 'forms.male' | translate }}</option>
                  <option value="female">{{ 'forms.female' | translate }}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="location" class="control-label col-md-2">
                {{ 'forms.location' | translate }}
              </label>
              <div class="col-md-3">
                <input ng-model="user.city" type="text" id="city" name="city" class="form-control" placeholder="{{ 'forms.city' | translate }}">
              </div>
              <div class="col-md-3">
                <input ng-model="user.state" type="text" id="state" name="state" class="form-control" placeholder="{{ 'forms.state' | translate }}">
              </div>
            </div>
            <div class="form-group">
              <label for="biography" class="control-label col-md-2">
                {{ 'forms.biography' | translate }}
              </label>
              <div class="col-md-6">
                <textarea ng-model="user.biography" id="biography" name="biography" class="form-control" rows="5" placeholder="{{ 'forms.write_something_about_you' | translate }}">
                </textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="primary-pictures" class="control-label col-md-2">
                {{ 'forms.picture' | translate }}
              </label>
              <div id="primary-pictures" class="col-md-10">
                <div class="thumbnail pull-left" ng-if="isConnectedWithNetwork('facebook')" ng-click="selectProfilePicture('facebook')" ng-class="{selected: isProfilePicture('facebook')}">
                  <div profile-picture="user" network="facebook" class="profile-picture img-circle text-center">
                  </div>
                  <div class="caption text-center">
                    <i ng-show="isProfilePicture('facebook')" class="glyphicon glyphicon-ok"></i> {{ 'forms.use_facebook_picture' | translate }}
                  </div>
                </div>
                <div class="thumbnail pull-left" ng-if="isConnectedWithNetwork('twitter')" ng-click="selectProfilePicture('twitter')" ng-class="{selected: isProfilePicture('twitter')}">
                  <div profile-picture="user" network="twitter" class="profile-picture img-circle text-center">
                  </div>
                  <div class="caption text-center">
                    <i ng-show="isProfilePicture('twitter')" class="glyphicon glyphicon-ok"></i> {{ 'forms.use_twitter_picture' | translate }}
                  </div>
                </div>
                <div class="thumbnail pull-left" ng-if="isConnectedWithNetwork('google')" ng-click="selectProfilePicture('google')" ng-class="{selected: isProfilePicture('google')}">
                  <div profile-picture="user" network="google" class="profile-picture img-circle text-center">
                  </div>
                  <div class="caption text-center">
                    <i ng-show="isProfilePicture('google')" class="glyphicon glyphicon-ok"></i> {{ 'forms.use_google_picture' | translate }}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-2 text-right">
                <button ng-disabled="profileForm.$invalid" ng-click="saveChanges()" type="button" class="btn btn-primary btn-block btn-lg">{{ 'forms.save_changes' | translate }}</button>
              </div>
            </div>
          </form>
        </tab>
        <tab heading="{{ 'menus.social_networks' | translate | uppercase }}">
          <div class="row">
            <div class="col-md-8">
              <div class="social-account">
                <div class="row">
                  <div class="col-md-4">
                    <a class="btn btn-lg btn-social-icon btn-facebook">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <span class="network-name">Facebook</span>
                  </div>
                  <div class="col-md-4">
                    <div>
                      <input type="checkbox" ng-model="showNetworks['facebook']" ng-change="showNetwork('facebook')">
                      <span class="network-show">{{ 'forms.show_link_in_profile' | translate }}</span>
                    </div>
                  </div>
                  <div class="col-md-4">
                  </div>
                </div>
              </div>
              <div class="social-account">
                <div class="row">
                  <div class="col-md-4">
                    <a class="btn btn-lg btn-social-icon btn-twitter">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <span class="network-name">Twitter</span>
                  </div>
                  <div class="col-md-4">
                    <div ng-if="isConnectedWithNetwork('twitter')">
                      <input type="checkbox" ng-model="showNetworks['twitter']" ng-change="showNetwork('twitter')">
                      <span class="network-show">{{ 'forms.show_link_in_profile' | translate }}</span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <button ng-if="!isConnectedWithNetwork('twitter')" ng-click="connectNetwork('twitter')" class="btn btn-lg btn-primary pull-right">
                      {{ 'forms.connect' | translate }}
                    </button>
                    <button ng-if="isConnectedWithNetwork('twitter')" ng-click="disconnectNetwork('twitter')" class="btn btn-lg btn-default pull-right">
                      {{ 'forms.disconnect' | translate }}
                    </button>
                  </div>
                </div>
              </div>
              <div class="social-account">
                <div class="row">
                  <div class="col-md-4">
                    <a class="btn btn-lg btn-social-icon btn-google-plus">
                      <i class="fa fa-google-plus"></i>
                    </a>
                    <span class="network-name">Google+</span>
                  </div>
                  <div class="col-md-4">
                    <div ng-if="isConnectedWithNetwork('google')">
                      <input type="checkbox" ng-model="showNetworks['google']" ng-change="showNetwork('google')">
                      <span class="network-show">{{ 'forms.show_link_in_profile' | translate }}</span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <button ng-if="!isConnectedWithNetwork('google')" ng-click="connectNetwork('google')" class="btn btn-lg btn-primary pull-right">
                      {{ 'forms.connect' | translate }}
                    </button>
                    <button ng-if="isConnectedWithNetwork('google')" ng-click="disconnectNetwork('google')" class="btn btn-lg btn-default pull-right">
                      {{ 'forms.disconnect' | translate }}
                    </button>
                  </div>
                </div>
              </div>
              <div class="social-account">
                <div class="row">
                  <div class="col-md-4">
                    <a class="btn btn-lg btn-social-icon btn-youtube">
                      <i class="fa fa-youtube"></i>
                    </a>
                    <span class="network-name">YouTube</span>
                  </div>
                  <div class="col-md-4">
                    <div ng-if="isConnectedWithNetwork('youtube')">
                      <input type="checkbox" ng-model="showNetworks['youtube']" ng-change="showNetwork('youtube')">
                      <span class="network-show">{{ 'forms.show_link_in_profile' | translate }}</span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <button ng-if="!isConnectedWithNetwork('youtube')" ng-click="connectNetwork('youtube')" class="btn btn-lg btn-primary pull-right">
                      {{ 'forms.connect' | translate }}
                    </button>
                    <button ng-if="isConnectedWithNetwork('youtube')" ng-click="disconnectNetwork('youtube')" class="btn btn-lg btn-default pull-right">
                      {{ 'forms.disconnect' | translate }}
                    </button>
                  </div>
                </div>
              </div>
              <div class="social-account">
                <div class="row">
                  <div class="col-md-4">
                    <a class="btn btn-lg btn-social-icon btn-soundcloud">
                      <i class="fa fa-soundcloud"></i>
                    </a>
                    <span class="network-name">SoundCloud</span>
                  </div>
                  <div class="col-md-4">
                    <div ng-if="isConnectedWithNetwork('soundcloud')">
                      <input type="checkbox" ng-model="showNetworks['soundcloud']" ng-change="showNetwork('soundcloud')">
                      <span class="network-show">{{ 'forms.show_link_in_profile' | translate }}</span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <button ng-if="!isConnectedWithNetwork('soundcloud')" ng-click="connectNetwork('soundcloud')" class="btn btn-lg btn-primary pull-right">
                      {{ 'forms.connect' | translate }}
                    </button>
                    <button ng-if="isConnectedWithNetwork('soundcloud')" ng-click="disconnectNetwork('soundcloud')" class="btn btn-lg btn-default pull-right">
                      {{ 'forms.disconnect' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>