<div id="user" class="pretty-header">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a ui-sref="{{ userState(user) }}">
            <div profile-picture="user" class="profile-picture img-circle">
            </div>
          </a>
        </div>
        <div class="col-md-9">
          <h1 class="nomargin">
            {{ user.name }}
            <button ng-if="isOwner()" ui-sref="app.settings({locale: locale()})" class="btn btn-link">
              {{ 'edit_profile' | translate }}
            </button>
          </h1>
          <h4>
            <span class="user-label label label-warning">
              <i class="glyphicon glyphicon-screenshot"></i>
              {{ 'voting_power' | translate }}: {{ user.voting_power }}
            </span>
            <span class="user-label label label-info">
              <i class="glyphicon glyphicon-map-marker"></i> {{ user.city }} / {{ user.state }}
            </span>
            <span class="user-label label label-info">
              <i class="glyphicon glyphicon-time"></i>
              {{ 'member_since' | translate }} <span am-time-ago="user.registration_date"></span>
            </span>
          </h4>
          <div class="networks">
            <a ng-if="showNetworkLink('facebook')" ng-href="{{ getNetworkProfileUrl('facebook') }}" class="btn btn-social-icon btn-facebook" target="_blank" title="{{ 'go_to_network_profile' | translate: {user: user.name, network: 'Facebook'} }}">
              <i class="fa fa-facebook"></i>
            </a>
            <a ng-if="showNetworkLink('twitter')" ng-href="{{ getNetworkProfileUrl('twitter') }}" class="btn btn-social-icon btn-twitter" target="_blank" title="{{ 'go_to_network_profile' | translate: {user: user.name, network: 'Twitter'} }}">
              <i class="fa fa-twitter"></i>
            </a>
            <a ng-if="showNetworkLink('google')" ng-href="{{ getNetworkProfileUrl('google') }}" class="btn btn-social-icon btn-google-plus" target="_blank" title="{{ 'go_to_network_profile' | translate: {user: user.name, network: 'Google+'} }}">
              <i class="fa fa-google-plus"></i>
            </a>
            <a ng-if="showNetworkLink('youtube')" ng-href="{{ getNetworkProfileUrl('youtube') }}" class="btn btn-social-icon btn-youtube" target="_blank" title="{{ 'go_to_network_profile' | translate: {user: user.name, network: 'YouTube'} }}">
              <i class="fa fa-youtube"></i>
            </a>
            <a ng-if="showNetworkLink('soundcloud')" ng-href="{{ getNetworkProfileUrl('soundcloud') }}" class="btn btn-social-icon btn-soundcloud" target="_blank" title="{{ 'go_to_network_profile' | translate: {user: user.name, network: 'SoundCloud'} }}">
              <i class="fa fa-soundcloud"></i>
            </a>
          </div>
          <h4 class="padding-top">
            {{ user.biography }}
          </h4>
        </div>
      </div>
    </div>
  </div>
  <img class="background" ng-src="/img/backgrounds/user-back1.jpg">
</div>
<div class="container">
  <div ng-if="hasAuditions()" class="row">
    <div class="col-md-8">
      <h1>{{ 'auditions' | translate }}</h1>
    </div>
  </div>
  <div class="row" ng-repeat="row in auditions | partition: 3">
    <div ng-repeat="audition in row" class="col-md-4">
      <audition ng-model="audition" locale="{{ locale() }}" show-score="false">
      </audition>
    </div>
  </div>
</div>