<div id="user" class="special-header">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a ui-sref="app.user({locale: locale(), id: user.id})">
            <div profile-picture="user" class="profile-picture img-circle">
            </div>
          </a>
        </div>
        <div class="col-md-9">
          <h1 class="nomargin">
            {{ user.name }}
            <button ng-if="isOwner()" ui-sref="app.settings({locale: locale()})" class="btn btn-link">
              {{ 'edit_profile' | translate }}
            </button>
          </h1>
          <h4>
            <span class="user-label label label-warning">
              <i class="glyphicon glyphicon-screenshot"></i>
              {{ 'voting_power' | translate }}: {{ user.voting_power }}
            </span>
            <span class="user-label label label-info">
              <i class="glyphicon glyphicon-map-marker"></i> {{ user.city }} / {{ user.state }}
            </span>
            <span class="user-label label label-info">
              <i class="glyphicon glyphicon-time"></i>
              {{ 'member_since' | translate }} <span am-time-ago="user.registration_date"></span>
            </span>
          </h4>
          <h4 class="padding-top">
            {{ user.biography }}
          </h4>
        </div>
      </div>
    </div>
  </div>
  <img ng-src="/img/backgrounds/user-back1.jpg">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>{{ 'auditions' | translate }}</h1>
    </div>
  </div>
  <div class="row" ng-repeat="row in auditions | partition: 3">
    <div ng-repeat="audition in row" class="col-md-4">
      <audition ng-model="audition" locale="{{ locale() }}" show-score="false">
      </audition>
    </div>
  </div>
</div>