<section>
  <div class="row">
    <div class="col-md-12">
      <div class="media">
        <div class="pull-left">
          <img class="medium-thumbnail" ng-src="{{ music.small_thumbnail }}">
        </div>
        <div class="media-body">
          <h1 class="media-heading">
            {{ music.name }} by
            <a ui-sref="viewArtist({artist: music.artist.slug})">{{ music.artist.name }}</a>
          </h1>
          <p class="font-biggest">
            <span class="label label-info">{{ totalCoversOfMusic }} Covers</span>
          </p>
          <div class="pull-right">
            <div class="btn-group">
              <a class="btn btn-default" ui-sref="viewMusic({music: music.slug, sort: 'best'})" ng-class="{'active': isSorted('best')}">
                Best Covers
              </a>
              <a class="btn btn-default" ui-sref="viewMusic({music: music.slug, sort: 'latest'})" ng-class="{'active': isSorted('latest')}">
                Latest Covers
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section20">
    <cover-list ng-model="coversOfMusic"></cover-list>
  </div>
</section>