<section>
  <div class="row">
    <div class="col-md-12">
      <div class="media">
        <div class="pull-left">
          <img class="medium-thumbnail" ng-src="{{ artist.small_thumbnail }}">
        </div>
        <div class="media-body">
          <h1 class="media-heading">{{ musicGenre.name }}</h1>
          <p class="font-biggest">
            <span class="label label-success">{{ artist.musicGenre.name }}</span>
            <span class="label label-info">{{ totalMusicsByArtist }} Musics</span>
          </p>
          <div class="pull-right">
            <div class="btn-group">
              <a class="btn btn-default" ui-sref="viewArtist({artist: artist.slug, sort: 'best'})" ng-class="{'active': isSorted('best')}">
                Best Covers
              </a>
              <a class="btn btn-default" ui-sref="viewArtist({artist: artist.slug, sort: 'latest'})" ng-class="{'active': isSorted('latest')}">
                Latest Covers
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-title">
        <h3>
          The best {{ musicGenre.name }} covers
        </h3>
      </div>
      <cover-list ng-model="bestCoversOfMusicGenre"></cover-list>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-title">
        <h3>
          The latest {{ musicGenre.name }} covers
        </h3>
      </div>
      <cover-list ng-model="latestCoversOfMusicGenre"></cover-list>
    </div>
  </div>
</section>