<!DOCTYPE html>
<html lang="pt" ng-app="coverAcademy" ng-controller="applicationController">
  <head>
    <!-- Chartbeat -->
    <!-- <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script> -->
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ metaDescription() }}">
    <meta name="keywords" content="{{ metaKeywords() }}">
    <meta name="author" content="Sandro Simas">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ siteName() }}">
    <meta property="og:url" content="{{ pageUrl() }}">
    <meta property="og:title" content="{{ pageTitle() }}">
    <meta property="og:description" content="{{ metaDescription() }}">
    <meta property="og:image" content="{{ metaImage() }}">

    <title>Cover Academy | {{ pageTitle() }}</title>

    <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/bootstrap-social/bootstrap-social.css" rel="stylesheet">
    <link href="/lib/ngprogress/ngProgress.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">

    <link href="/img/favicon.ico" rel="shortcut icon">
    <script src="/lib/angular/angular.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-55380700-1', 'auto');
    </script>
  </head>
  <body ng-cloak class="ng-cloak" ng-class="{'footer-margin': withFooterMargin()}">
    <header ng-if="showHeader()" ng-controller="headerController" class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="" ui-sref="app.index({locale: locale()})">
            <img src="/img/logos/white-logo-small.png">
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <form name="searchForm" class="navbar-form navbar-left" novalidate>
            <div class="input-group">
              <input type="search" name="search_query" ng-model="searchQuery" typeahead="item.displayName for item in searchMusicOrArtist($viewValue)" typeahead-min-length="2" typeahead-wait-ms="500" typeahead-on-select="selectItem($item)" placeholder="{{ 'search_for_musics_or_artists' | translate }}" class="form-control" style="width: 400px;" required>
              <span class="input-group-btn">
                <button ng-click="submitSearch()" ng-disabled="searchForm.$invalid" class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </span>
            </div>
          </form>
          <ul class="nav navbar-nav">
            <li ng-class="{'active': isSectionActive('covers')}">
              <a ui-sref="app.covers({locale: locale()})">{{ 'menus.covers' | translate }}</a>
            </li>
            <li ng-class="{'active': isSectionActive('contact')}">
              <a ui-sref="app.contact({locale: locale()})">{{ 'menus.contact' | translate }}</a>
            </li>
            <!-- <li ng-class="{'active': isSectionActive('about')}">
              <a ui-sref="app.about({locale: locale()})">{{ 'about' | translate }}</a>
            </li> -->
          </ul>
          <ul class="languages nav navbar-nav navbar-left">
            <li ng-repeat="language in languages">
              <a ui-sref="app.index({locale: language.id})">
                <img ng-src="/img/langs/{{ language.image }}" width="25">
              </a>
            </li>
          </ul>
          <ul ng-show="isAuthenticated() && !isRegisterState()" class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ user().name }}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li ng-if="user()">
                  <a ui-sref="{{ userState(user()) }}">
                    <i class="glyphicon glyphicon-user"></i> {{ 'menus.profile' | translate }}
                  </a>
                </li>
                <li ng-if="user()">
                  <a ui-sref="app.settings({locale: locale()})">
                    <i class="glyphicon glyphicon-cog"></i> {{ 'menus.settings' | translate }}
                  </a>
                </li>
                <li>
                  <a ng-click="logout()">
                    <i class="glyphicon glyphicon-off"></i> {{ 'menus.logout' | translate }}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <form ng-if="!isRegisterState() && !user()" class="navbar-form navbar-right">
            <button ng-click="login('facebook')" class="btn btn-block btn-social btn-facebook">
              <i class="fa fa-facebook"></i> {{ 'signin_with' | translate }} Facebook
            </a>
          </form>
        </div>
      </div>
    </header>

    <main ui-view autoscroll="true" ng-class="{'with-header': showHeader()}"></main>

    <footer>
      <div class="extra">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">
                {{ 'indicate_cover' | translate }}
                <small>{{ 'indicate_cover_steps' | translate }}</small>
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <a ui-sref="app.index({locale: locale()})">
                <img src="/img/logos/white-logo.png">
              </a>
            </div>
            <div class="col-md-2">
              <h4 class="bolder-text">{{ 'menus.contest' | translate | uppercase }}</h4>
              <ul>
                <li>
                  <a ui-sref="app.contestGuideline({locale: locale()})">
                    {{ 'menus.guideline' | translate }}
                  </a>
                </li>
                <li>
                  <a ui-sref="app.contests({locale: locale()})">
                    {{ 'menus.contests' | translate }}
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-2 nopadding">
              <h4 class="bolder-text">{{ 'menus.support' | translate | uppercase }}</h4>
              <ul>
                <li>
                  <a ui-sref="app.contact({locale: locale()})">
                    {{ 'menus.contact' | translate }}
                  </a>
                </li>
                <li>
                  <a ui-sref="app.termsOfUse({locale: locale()})">
                    {{ 'menus.terms_of_use' | translate }}
                  </a>
                </li>
                <li>
                  <a ui-sref="app.privacyPolicy({locale: locale()})">
                    {{ 'menus.privacy_policy' | translate }}
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-3 social">
              <h4 class="bolder-text">{{ 'menus.follow_us' | translate | uppercase }}</h4>
              <ul>
                <li>
                  <a href="https://www.facebook.com/coveracademy" target="_blank">
                    <i class="fa fa-facebook"></i> {{ 'menus.like_us_on_facebook' | translate }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row copyright">
            <div class="col-md-4">
              <fb-like-box link="https://www.facebook.com/coveracademy" width="280" height="70">
              </fb-like-box>
            </div>
            <div class="col-md-8 align-right">
              © Cover Academy 2014
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div ng-controller="alertController" class="alerts">
      <alert ng-repeat="alert in alerts" type="{{ alert.type }}">
        {{ alert.msg }}
      </alert>
    </div>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/moment/min/moment.min.js"></script>
    <script src="/lib/moment/locale/pt-br.js"></script>
    <script src="/lib/underscore/underscore.js"></script>

    <script src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/lib/angular-cookies/angular-cookies.min.js"></script>
    <script src="/lib/angular-moment/angular-moment.min.js"></script>
    <script src="/lib/angular-timer/dist/angular-timer.min.js"></script>
    <script src="/lib/angular-translate/angular-translate.min.js"></script>
    <script src="/lib/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
    <script src="/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/lib/angulartics/dist/angulartics.min.js"></script>
    <script src="/lib/angulartics/dist/angulartics-ga.min.js"></script>

    <script src="/lib/ng-videosharing-embed/build/ng-videosharing-embed.min.js"></script>
    <script src="/lib/ngprogress/build/ngProgress.min.js"></script>

    <script src="/app/providers/providers.js"></script>
    <script src="/app/factories/factories.js"></script>
    <script src="/app/services/services.js"></script>
    <script src="/app/directives/directives.js"></script>
    <script src="/app/filters/filters.js"></script>
    <script src="/app/controllers/controllers.js"></script>
    <script src="/app/controllers/coverControllers.js"></script>
    <script src="/app/controllers/contestControllers.js"></script>
    <script src="/app/controllers/userControllers.js"></script>
    <script src="/app/app.js"></script>
    <script src="/js/index.js"></script>
    <script type="text/javascript">
      // Chartbeat
      // var _sf_async_config = { uid: 56362, domain: "coveracademy.com", useCanonical: true };
      // (function() {
      //   function loadChartbeat() {
      //     window._sf_endpt = (new Date()).getTime();
      //     var e = document.createElement("script");
      //     e.setAttribute("language", "javascript");
      //     e.setAttribute("type", "text/javascript");
      //     e.setAttribute("src","//static.chartbeat.com/js/chartbeat.js");
      //     document.body.appendChild(e);
      //   };
      //   var oldonload = window.onload;
      //   window.onload = (typeof window.onload != "function") ? loadChartbeat : function() {
      //     oldonload();
      //     loadChartbeat();
      //   };
      // })();

      // UMRUM
      !function(a, b, c, d) {
        b._mrm = b._mrm||{},
        b._mrm.hostId = a,
        d = c.createElement("script"),
        d.async = 1,
        d.src = "//umrum.io/dist/umrum-client.js"
        c.body.appendChild(d);
      }("5422c6924166c5e6491b023f", window, document);
    </script>
  </body>
</html>