<!DOCTYPE html>
<html lang="pt" ng-app="coverAcademy" ng-controller="applicationController">
  <head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="fragment" content="!">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="description" content="{{ metaDescription() }}">
    <meta name="keywords" content="{{ metaKeywords() }}">
    <meta name="author" content="Cover Academy">
    <meta ng-if="statusCode" name="prerender-status-code" content="{{ statusCode }}">
    <meta ng-if="isRedirectionStatusCode()" name="prerender-header" content="Location: {{ pageUrl() }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ siteName() }}">
    <meta property="og:url" content="{{ pageUrl() }}">
    <meta property="og:title" content="{{ pageTitle() }}">
    <meta property="og:description" content="{{ metaDescription() }}">
    <meta property="og:image" content="{{ metaImage() }}">

    <title ng-bind-template="Cover Academy | {{ pageTitle() }}"></title>

    <link href="/img/favicon.ico" rel="shortcut icon">

    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/bootstrap-social/bootstrap-social.css" rel="stylesheet">
    <link href="/lib/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet">
    <link href="/lib/textAngular/src/textAngular.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->

    <script src="/lib/angular/angular.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-55380700-1', 'auto');
    </script>
  </head>
  <body ng-cloak class="ng-cloak" ng-class="{'footer-margin': !isState(['app.contest', 'app.home'])}">
    <header ng-controller="headerController" class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="" ui-sref="app.home({locale: locale()})">
            <img src="/img/logos/green-logo-small.png">
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <form name="searchForm" class="navbar-form navbar-left" novalidate>
            <div class="input-group">
              <input type="search" name="search_query" ng-model="searchQuery" typeahead="item.displayName for item in searchMusicOrArtist($viewValue)" typeahead-min-length="2" typeahead-wait-ms="500" typeahead-on-select="selectItem($item)" placeholder="{{ 'search_for_musics_or_artists' | translate }}" class="form-control" required>
              <span class="input-group-btn">
                <button ng-click="submitSearch()" ng-disabled="searchForm.$invalid" class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </span>
            </div>
          </form>
          <ul class="nav navbar-nav">
            <li ng-class="{'active': isSectionActive('contests')}">
              <a ui-sref="app.contests({locale: locale()})">{{ 'menus.contests' | translate }}</a>
            </li>
            <li ng-class="{'active': isSectionActive('contestants')}">
              <a ui-sref="app.contestants({locale: locale()})">{{ 'menus.contestants' | translate }}</a>
            </li>
            <li ng-class="{'active': isSectionActive('covers')}">
              <a ui-sref="app.covers({locale: locale()})">{{ 'menus.covers' | translate }}</a>
            </li>
          </ul>
          <ul class="languages nav navbar-nav navbar-left">
            <li ng-repeat="language in languages">
              <a ui-sref="app.home({locale: language.id})">
                <img ng-src="/img/langs/{{ language.image }}" width="25">
              </a>
            </li>
          </ul>
          <ul ng-show="isAuthenticated() && !isRegisterState()" class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ userAuthenticated().name }}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li ng-if="userAuthenticated()">
                  <a ui-sref="{{ userState(userAuthenticated()) }}">
                    <i class="glyphicon glyphicon-user"></i> {{ 'menus.profile' | translate }}
                  </a>
                </li>
                <li ng-if="userAuthenticated()">
                  <a ui-sref="app.settings({locale: locale()})">
                    <i class="glyphicon glyphicon-cog"></i> {{ 'menus.settings' | translate }}
                  </a>
                </li>
                <li>
                  <a href="#" ng-click="logout()">
                    <i class="glyphicon glyphicon-off"></i> {{ 'menus.logout' | translate }}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <form ng-if="!isRegisterState() && !userAuthenticated()" class="navbar-form navbar-right">
            <button ng-click="login('facebook')" class="btn btn-block btn-social btn-facebook">
              <i class="fa fa-facebook"></i> {{ 'sign_in_with' | translate }} Facebook
            </button>
          </form>
        </div>
      </div>
    </header>

    <main ui-view autoscroll="true"></main>

    <footer>
      <div class="extra">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">
                {{ 'suggest_cover_video' | translate }}
                <small>{{ 'suggest_cover_video_steps' | translate }}</small>
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <a ui-sref="app.home({locale: locale()})">
                <img src="/img/logos/white-logo.png">
              </a>
            </div>
            <div class="col-md-2">
              <h4 class="text-bold">{{ 'menus.contest' | translate | uppercase }}</h4>
              <ul>
                <li>
                  <a ui-sref="app.contestGuideline({locale: locale()})">
                    {{ 'menus.guideline' | translate }}
                  </a>
                </li>
                <li>
                  <a ui-sref="app.contests({locale: locale()})">
                    {{ 'menus.contests' | translate }}
                  </a>
                </li>
                <li>
                  <a ui-sref="app.contestants({locale: locale()})">
                    {{ 'menus.contestants' | translate }}
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-2 no-padding">
              <h4 class="text-bold">{{ 'menus.support' | translate | uppercase }}</h4>
              <ul>
                <li>
                  <a ui-sref="app.contact({locale: locale()})">
                    {{ 'menus.contact' | translate }}
                  </a>
                </li>
                <li>
                  <a ui-sref="app.contact({locale: locale()})">
                    {{ 'menus.sponsor' | translate }}
                  </a>
                </li>
                <li>
                  <a ui-sref="app.termsOfUse({locale: locale()})">
                    {{ 'menus.terms_of_use' | translate }}
                  </a>
                </li>
                <li>
                  <a ui-sref="app.privacyPolicy({locale: locale()})">
                    {{ 'menus.privacy_policy' | translate }}
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-3 social">
              <h4 class="text-bold">{{ 'menus.follow_us' | translate | uppercase }}</h4>
              <ul>
                <li>
                  <a href="https://www.facebook.com/coveracademy" target="_blank">
                    <i class="fa fa-facebook"></i>
                    {{ 'menus.like_on_facebook' | translate }}
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/coveracademy" target="_blank">
                    <i class="fa fa-twitter"></i>
                    {{ 'menus.follow_on_twitter' | translate }}
                  </a>
                </li>
                <li>
                  <a href="https://instagram.com/cover_academy" target="_blank">
                    <i class="fa fa-instagram"></i>
                    {{ 'menus.follow_on_instagram' | translate }}
                  </a>
                </li>
                <li>
                  <a href="https://www.youtube.com/c/CoverAcademy" target="_blank">
                    <i class="fa fa-youtube"></i>
                    {{ 'menus.subscribe_on_youtube' | translate }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row copyright">
            <div class="col-md-4">
              <fb-like-box link="https://www.facebook.com/coveracademy" width="280" height="70">
              </fb-like-box>
            </div>
            <div class="col-md-8 text-right">
              © Cover Academy 2015
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div ng-controller="alertController" class="alerts">
      <alert ng-repeat="alert in alerts" type="{{ alert.type }}">
        {{ alert.msg }}
      </alert>
    </div>
    <div class="fixed-alerts">
      <div ng-if="isAuthenticated() && isVerified() && userAuthenticated().new" class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p class="no-margin">{{ 'alerts.use_the_email_to_receive_updates' | translate: {user: userAuthenticated()} }}</p>
        <p class="no-margin">
          <a ui-sref="app.settings()">
            {{ 'alerts.no_i_want_to_use_another_email' | translate }}
          </a>
        </p>
      </div>
    </div>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/moment/min/moment.min.js"></script>
    <script src="/lib/moment/locale/pt-br.js"></script>
    <script src="/lib/underscore/underscore.js"></script>

    <script src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/lib/angular-cookies/angular-cookies.min.js"></script>
    <script src="/lib/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="/lib/angular-moment/angular-moment.min.js"></script>

    <script src="/lib/angular-timer/dist/angular-timer.min.js"></script>
    <script src="/lib/angular-translate/angular-translate.min.js"></script>
    <script src="/lib/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
    <script src="/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/lib/angulartics/dist/angulartics.min.js"></script>
    <script src="/lib/angulartics/dist/angulartics-ga.min.js"></script>

    <script src="/lib/ng-videosharing-embed/build/ng-videosharing-embed.min.js"></script>
    <script src="/lib/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
    <script src="/lib/ngprogress/build/ngProgress.min.js"></script>

    <script src="/lib/textAngular/dist/textAngular-rangy.min.js"></script>
    <script src="/lib/textAngular/dist/textAngular.min.js"></script>

    <script src="/app/constants/constants.js"></script>
    <script src="/app/providers/providers.js"></script>
    <script src="/app/factories/factories.js"></script>
    <script src="/app/services/services.js"></script>
    <script src="/app/directives/directives.js"></script>
    <script src="/app/filters/filters.js"></script>
    <script src="/app/controllers/controllers.js"></script>
    <script src="/app/controllers/coverControllers.js"></script>
    <script src="/app/controllers/contestControllers.js"></script>
    <script src="/app/controllers/userControllers.js"></script>
    <script src="/app/app.js"></script>
  </body>
</html>