h1, h2, h3, h4, h5 {
  line-height: 1.5;
}
p, li {
  line-height: 1.8;
}
img.small-brand {
  max-height: 100px;
  max-width: 120px;
  margin: 5px;
  border-radius: 5px;
}
a.no-decoration, a:hover.no-decoration, a:focus.no-decoration {
  text-decoration: none;
}
.gray {
  background-color: #f1f1f1;
}
.card {
  margin-bottom: 10px;
  border: 0;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card.with-padding {
  padding: 15px;
}
.card .btn-success, .card .btn-primary {
  text-shadow: 2px 2px 5px #000000;
}
.card a:hover, .card a:active, .card a:focus {
  text-decoration: none;
}
.card .row.with-separator {
  border-bottom: 1px solid #eee;
}
.card img {
  max-width: 100%;
}

.promo-video {
  margin-top: 35px;
  margin-bottom: 35px;
}
.modal-backdrop {
  height: 100%;
}
.jumbotron.white {
  background-color: #fff;
}
#incentive-vote {
  padding: 0;
}
#incentive-vote #incentive {
  padding: 0px 30px;
}
#incentive-vote #join-community {
  background-color: #363b3f;
  padding: 20px 0px 20px 0px;
  color: #fff;
}
#incentive-vote #join-community .row {
  padding: 0px 30px 0px 30px;
}
.thumbnail {
  line-height: 1.5;
}
.thumbnail.thin {
  padding: 1px;
}
#primary-pictures .thumbnail {
  width: 240px;
  padding: 20px;
  cursor: pointer;
  margin-right: 20px;
  font-size: 14px;
}
#primary-pictures .thumbnail.selected {
  background-color: #ecf3fa;
}
#primary-pictures .profile-picture {
  margin: 0 auto;
  height: 100px;
  width: 100px;
}
a:hover {
  cursor: pointer;
}
.jumbotron.white {
  background-color: #fff;
}
.row.with-padding {
  padding-top: 10px;
}
.navbar-logo {
  float: left;
  height: 64px;
  padding: 10px 5px 10px 0px;
}
.languages.navbar-nav {
  padding-left: 10px;
  padding-right: 10px;
}
.languages.navbar-nav > li > a {
  padding: 10px 5px;
}
.indent-paragraphs p {
  text-indent: 40px;
}
.line-height-1-0 {
  line-height: 1.0;
}
.line-height-1-5 {
  line-height: 1.5;
}

.font-small {
  font-size: 12px !important;
}
.font-normal {
  font-size: 14px !important;
}
.font-large {
  font-size: 16px !important;
}
.font-big {
  font-size: 18px !important;
}
.font-biggest {
  font-size: 22px !important;
}
.font-bold {
  font-weight: bold;
}
.no-padding-right {
  padding-right: 0px !important;
}
.col-auto {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}
.bg-warning {
  background-color: #ffd699;
}
.user-label {
 margin-bottom: 5px;
}

.alert {
  border: none;
  color: #fff;
}
.alert a, .alert a:hover, .alert a:active {
  color: #fff;
  text-decoration: underline;
}
.alert-success {
  background-color: #4caf50;
}
.alert-warning {
  background-color: #ff9800;
}
.alert-danger {
  background-color: #e51c23;
}
.alert-info {
  background-color: #9c27b0;
}
.alert-dismissable, .alert-dismissible {
  padding-right: 35px;
}
.alerts {
  z-index: 999999;
  position: fixed;
  top: 80px;
  right: 10px;
}
.alerts .alert {
  margin-bottom: 10px;
  max-width: 500px;
  position: relative;
  font-size: 16px;
}
.fixed-alerts {
  z-index: 999999;
  position: fixed;
  bottom: 20px;
  right: 10px;
}
.fixed-alerts .alert {
  margin-bottom: 10px;
  max-width: 800px;
  position: relative;
  font-size: 14px;
}
#register-form .alert {
  margin-bottom: 0px;
}
.fade-in.ng-enter {
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.fade-out.ng-leave {
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s;
}
.label-required {
  color: #f00;
}
.label.label-gold {
  background-color: #dfbb10;
}
.label.label-silver {
  background-color: #888;
}
.label.label-bronze {
  background-color: #aa5237;
}
.btn-none {
  color: #fff;
  background-color: #999;
  border-color: #888;
}
.btn-none:hover, .btn-none:focus, .btn-none:active, .btn-none.active, .open .dropdown-toggle.btn-none {
  color: #fff;
  background-color: #777;
  border-color: #666;
}
.page-header-background {
  margin-top: -12px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f1f4f4;
}
.page-section {
  margin-top: 10px;
}
.page-section20 {
  margin-top: 20px;
}
.icon {
  position: relative;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.votes-number {
  font-size: 35px;
}
.votes, .votes .vote {
  display: inline-block;
}
.votes .vote .vote-count {
  color: #333;
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
  margin-top: 5px;
  border: 1px #ccc solid;
  border-radius: 4px;
}
.dropdown-scroll {
  max-height: 250px;
  min-width: 269px;
  overflow: auto;
}
.label-black {
  background-color: #000;
}
.embed-container {
  height: 0;
  /*width: 100%;*/
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}
.embed-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.section-title {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
.section-title .title {
  font-size: 28px;
}
.box {
  position: relative;
}
.box .background {
   display: block;
   background-size: cover;
}
.box .legend {
  background-color: #000;
  bottom: 3px;
  border-radius: 4px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  left: 3px;
  padding: 2px 5px 2px 5px;
  position: absolute;
}
.winner .medal.label {
  position: absolute;
  top: -22px;
  right: -6px;
}
.small-medal {
  height: 65px;
}
.medium-medal {
  height: 155px;
}
#guideline p, #guideline li {
  font-size: 16px;
  text-align: justify;
}
#guideline .callout {
  margin-left: 40px;
  margin-bottom: 20px;
}
#guideline .callout .title {
  margin-top: 0px;
  margin-bottom: 20px;
}
#guideline #index {
  background-color: #f9f9f9;
  margin-top: 40px;
}
img.small-thumbnail {
  width: 50px;
}
img.medium-thumbnail {
  width: 126px;
}
a.default-link {
  color: #428bca !important;
}
.carousel-genres {
  height: 125px;
  margin-bottom: 20px;
}
.carousel-genres .carousel-inner {
  height: 125px;
}
.carousel-genres .carousel-inner .item {
  height: 125px;
}
.carousel-genres .carousel-control {
  width: 0%;
  color: #ffc200;
  opacity: 0.8;
}
.carousel-genres .carousel-indicators {
  display: none;
}
.carousel-genres .carousel-control:hover, .carousel-genres .carousel-control:focus {
  color: #f30;
}
form.compacted .form-group {
  margin-bottom: 5px;
}
.tab-content {
  margin-top: 0px;
  padding-top: 10px;
  border-top: #e7e7e7 solid 1px;
}
.pretty-header {
  background-color: #000;
  height: 250px;
  margin-top: -13px; /* main element with class with-header has a 64px padding-top and it's needed to positioning pretty-header to 51px*/
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  position: relative;
}
.pretty-header.background-style {
  background-size: cover;
  height: auto;
  overflow: visible;
  position: static;
  min-height: 277px;
}
.pretty-header.background-style.small {
  padding-top: 10px;
  padding-bottom: 30px;
  min-height: 139px;
}
.pretty-header a {
  color: #fff;
  text-decoration: underline;
}
.pretty-header p, .pretty-header h1, .pretty-header h2, .pretty-header h3, .pretty-header h4, .pretty-header h5, .pretty-header .form-control {
  color: #fff;
}
.pretty-header h1.big {
  font-size: 60px;
}
.pretty-header > .content {
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 5px #000000;
  width: 100%;
  z-index: 500;
}
.pretty-header.background-style > .content {
  position: static;
}
.pretty-header > .content .thumbnail {
  position: absolute;
  z-index: -1;
}
.pretty-header > .content .thumbnail > img {
  height: 150px;
}
.pretty-header > img.background {
  width: 100%;
  opacity: 0.5;
  margin-top: -200px;
}
#contest-draw.alert{
  margin: -13px 0px 13px 0px;
  border-radius: 0px;
}
#contest.pretty-header a {
  text-decoration: none;
}
#contest.pretty-header > img.background {
  opacity: 0.3;
}
#contest.pretty-header .join .callout {
  background-color: #363b3f;
  margin-bottom: 10px;
}
#contest.pretty-header .title h1 {
  font-size: 34px;
}
#contest.pretty-header .sponsors {
  margin-top: 20px;
}
#contest.pretty-header .sponsors .become-sponsor {
  text-align: right;
  font-weight: bold;
  margin-bottom: 10px;
}
#contest.pretty-header .contestant i.glyphicon-ok {
  font-size: 100px;
}
#user.pretty-header .container {
  padding-left: 100px;
  padding-right: 100px;
}
#user.pretty-header .content {
  text-align: left;
}
#user.pretty-header > img.background {
  opacity: 0.2;
}
#user .actions {
  margin-top: 20px;
}
#user-menu .profile-picture {
  height: 160px;
  width: 160px;
}
#user-menu .profile-overview figcaption .blur {
  height: 160px;
  width: 160px;
}
#user-menu .profile-overview figcaption .text {
  width: 160px;
  height: 160px;
  top: 20px;
}
#author .profile-picture {
  width: 126px;
  height: 126px;
}
#auditions {
  padding-bottom: 60px;
}
#brands {
  padding: 20px;
}
.winner-author .profile-picture {
  width: 66px;
  height: 66px;
}
#prizes {
  padding-top: 20px;
}
#prizes .prize .card {
  background-color: #363b3f;
  border-radius: 4px;
  box-shadow: 5px 5px 2px rgba(0,0,0,.1);
}
#prizes .prize .text-muted {
  color: #999;
}
#prizes .prize .well {
  text-shadow: none;
}
#prizes .prize .prize-image {
  margin-top: 10px;
  margin-bottom: 10px;
}
#prizes .prize a {
  text-decoration: underline !important;
}
#prizes .prize .well {
  margin-top: 10px;
  margin-bottom: 0px;
}
#prizes .prize .well a {
  color: black;
}
#prizes .prize .well p {
  color: black;
}
#prizes .prize .well h4 {
  color: black;
}
#prizes .prize .prize-image {
  width: 100%;
}
#prizes .prize hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
.profile-overview figure:hover figcaption {
  opacity: 1;
}
.profile-overview figure .profile-picture {
  width: 262px;
  height: 262px;
  float: left;
}
.profile-overview figcaption {
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.profile-overview figcaption .blur {
  position: absolute;
  height: 262px;
  width: 262px;
  z-index: 5;
  background-color: rgba(0,0,0,0.65);
}
.profile-overview figcaption .text {
  position: absolute;
  width: 262px;
  height: 262px;
  z-index: 10;
  color: #fff;
  text-align: center;
  top: 100px;
}
.profile-overview figcaption h1 {
  text-transform: uppercase;
  font-size: 24px;
}
.contest-counter {
  background-color: #717171;
  color: #fff;
  padding-right: 0px;
}
.callout {
  padding: 20px;
  border: 1px solid #eee;
  border-left-width: 3px;
  border-radius: 15px;
}
.callout-primary {
  border-left-color: #2196f3;;
}
.callout li {
  list-style-type: circle;
}
.callout ul {
  padding-left: 20px;
}
#artists .box {
  margin-bottom: 10px;
}
#settings .social-account .network-name {
  display: inline-block;
  margin-left: 10px;
  font-size: 22px;
}
#settings .social-account .network-show {
  display: inline-block;
  margin-top: 10px;
}
#settings .social-account {
  padding: 20px;
}
#user-menu ul {
  padding-top: 20px;
}
#user-menu li {
  min-width: 200px;
  text-align: center
}
/* Social buttons */

/* Tabs panel */
.tabbable-panel {
  border: none;
}
.tabbable-line .nav-tabs {
  border: none;
}
.tabbable-line .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line .nav-tabs > li > a {
  background-color: #fff;
  border: none;
  color: #737373;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
}
.tabbable-line .nav-tabs > li:hover > a {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #333333;
  border-bottom: 4px solid #2196f3;
}
.tabbable-line .nav-tabs > li.active > a {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #333333;
  border-bottom: 4px solid #2196f3;
}
.tabbable-line .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line .tab-content {
  padding: 40px 0;
  font-size: 16px;
}
/* Tabs panel */


/* Custom loading bar */
#loading-bar .bar {
  height: 5px;
  background: #2196f3;
}
#loading-bar-spinner .spinner-icon {
  width: 25px;
  height: 25px;
  border-radius: 30px;
}
#loading-bar-spinner {
  top: 13px;
  left: 10px;
}
/* Custom loading bar */

/* Comment box */
.media, .media-body {
  overflow: hidden;
  zoom: 1;
}
.media-body {
  width: 10000px;
}
.comments-comment .ta-scroll-window > .ta-bind, .comments-comment .ta-editor.ta-html, .ta-scroll-window.form-control {
  min-height: 53px;
}
.comments-box {
  margin-top: 20px;
}
.comment-user.profile-picture {
  width: 45px;
  height: 45px;
}
.comment-text p {
  margin: 0;
}
.comment-date {
  color: #888;
}
.comment-actions a {
  color: #888;
}
.comment-input p {
  margin: 0;
  line-height: 1.5;
}
.comment-replies {
  border-left: 5px solid #ddd;
  padding-left: 10px;
}
.comment-replies .media:first-child {
  margin-top: 15px;
}
/* Comments END */