.gray {
  background-color: #f1f1f1;
}
.jumbotron.white {
  background-color: #fff;
}
.thumbnail.thin {
  padding: 1px;
}
.jumbotron.white {
  background-color: #fff;
}
.icon {
  position: relative;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.box {
  position: relative;
}
.box .background {
   display: block;
   background-size: cover;
}
.box .legend {
  background-color: #000;
  bottom: 3px;
  border-radius: 4px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  left: 3px;
  padding: 2px 5px 2px 5px;
  position: absolute;
}
.winner .medal.label {
  position: absolute;
  top: -22px;
  right: -6px;
}
img.small-thumbnail {
  width: 50px;
}
img.medium-thumbnail {
  width: 126px;
}
a.default-link {
  color: #428bca !important;
}
.carousel-genres {
  height: 125px;
  margin-bottom: 20px;
}
.carousel-genres .carousel-inner {
  height: 125px;
}
.carousel-genres .carousel-inner .item {
  height: 125px;
}
.carousel-genres .carousel-control {
  width: 0%;
  color: #ffc200;
  opacity: 0.8;
}
.carousel-genres .carousel-indicators {
  display: none;
}
.carousel-genres .carousel-control:hover, .carousel-genres .carousel-control:focus {
  color: #f30;
}
form.compacted .form-group {
  margin-bottom: 5px;
}
.tab-content {
  margin-top: 0px;
  padding-top: 10px;
  border-top: #e7e7e7 solid 1px;
}
#artists .box {
  margin-bottom: 10px;
}