<div class="row padding">
  <div class="col-md-12 text-center" ng-if="isType('top')">
		<!-- 728x90 -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script>
		<ins class="adsbygoogle" 
      style="display:inline-block;width:728px;height:90px" 
      data-ad-client="ca-pub-8752887412390423" 
      data-ad-slot="9228839224">
    </ins>
		<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  </div>
  <div class="col-md-12 text-center" ng-if="isType('responsive')">
    <!-- Responsivo -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script>
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-8752887412390423"
      data-ad-slot="9640968421"
      data-ad-format="auto">
    </ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  </div>
</div>
