<!-- Adsense top begin -->
<div class="padding" ng-if="isType('top')">
	<div class="row">
    <div class="col-md-12 text-center">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
      </script>
  		<!-- Cover Topo 728x90 -->
  		<ins class="adsbygoogle" 
        style="display:inline-block;width:728px;height:90px" 
        data-ad-client="ca-pub-8752887412390423" 
        data-ad-slot="9228839224">
      </ins>
  		<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
	</div>
<div>
<!-- Adsense top end -->
<!-- Adsense responsive begin -->
<div class="padding" ng-if="isType('responsive')">
	<div class="row">
    <div class="col-md-12 text-center">
  		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
      </script>
  		<!-- Cover Responsivo -->
  		<ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-8752887412390423"
        data-ad-slot="9640968421"
        data-ad-format="auto">
      </ins>
  		<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
	</div>
<div>
<!-- Adsense top end -->