<div class="row" ng-repeat="row in auditions | partition: auditionsPerRow">
  <div ng-repeat="audition in row" class="col-md-{{ columnSize }}">
    <div class="audition thumbnail clickable">
      <a ui-sref="app.audition({locale: locale, id: audition.id, slug: audition.slug})" class="link"></a>
      <div class="cover">
        <div class="darken"></div>
        <img ng-src="{{ audition.medium_thumbnail }}">
        <div class="caption {{ fontSizeCss }}">
          {{ audition.title }}
          <div>
            {{ 'by' | translate }} {{ audition.user.name }}
          </div>
          <div class="video-date">
            <span am-time-ago="audition.registration_date"></span>
          </div>
        </div>
        <div class="legend">
          <span class="label label-primary {{ fontSizeCss }}" ng-if="isShowVotes">
            {{ scoreByAudition(audition) }} {{ 'points' | translate }}
            -
            {{ votesByAudition(audition) }} {{ 'votes' | translate }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>