<div class="audition">
  <a ui-sref="app.audition({locale: locale, id: audition.id, slug: audition.slug})" ng-click="auditionClick()">
    <div class="cover {{ fontSize }}">
      <div class="darken"></div>
      <img ng-src="{{ audition.medium_thumbnail }}">
      <div class="caption">
        {{ audition.title }}
        <div>
          {{ 'by' | translate }} {{ audition.user.name }}
        </div>
        <div class="video-date">
          <span am-time-ago="audition.registration_date"></span>
        </div>
      </div>
      <div class="legend" ng-if="isShowScore">
        <span class="label label-primary no-radius">
          {{ scoreByAudition() }}
        </span>
      </div>
    </div>
  </a>
</div>