<div class="row" ng-repeat="row in covers | partition: coversPerRow">
  <div ng-repeat="cover in row" class="col-md-{{ columnSize }}">
    <div ng-click="viewCover(cover)" class="thumbnail clickable">
      <a ui-sref="cover({id: cover.id})" autoscroll="false" class="link"></a>
      <div class="cover">
        <img ng-src="{{ cover.medium_thumbnail }}">
        <div class="legend">
          <span class="label label-black">{{ cover.duration | inMinutes }} min</span>
        </div>
      </div>
      <div class="caption {{ fontSizeCss }}">
        <a ui-sref="cover({id: cover.id})" autoscroll="false">
          {{ cover.artist.name }} - {{ cover.music.title }}
        </a>
        <div>
          By {{ cover.video_author }}
        </div>
        <div class="video-date">
          <span am-time-ago="cover.video_date"></span>
        </div>
      </div>
    </div>
  </div>
</div>