<div class="modal-header">
  <button ng-click="close()" type="button" class="close" aria-hidden="true">
    &times;
  </button>
  <h2 class="text-center">{{ 'incentive_vote_modal_header' | translate }}</h2>
</div>
<div id="incentive-vote" class="modal-body">
  <div id="incentive">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center">
          {{ 'you_can_still_vote_for_other_contestants' | translate: {remainingVotes: remainingVotes} }}
        </h3>
        <div class="alert alert-info margin-top">
          <h4>{{ 'incentive_vote_modal_description' | translate }}</h4>
        </div>
      </div>
    </div>
    <div class="row padding-top" ng-repeat="row in randomAuditions | partition: 3">
      <div ng-repeat="audition in row" class="col-md-4">
        <audition ng-model="audition" locale="{{ locale }}" thumb-size="small" audition-click="close()">
        </audition>
      </div>
    </div>
  </div>
  <div id="join-community">
    <div class="row text-center">
      <div class="col-md-12">
        <h3>{{ 'lets_create_the_largest_community' | translate }}</h3>
        <h2>{{ 'like_on_facebook' | translate }}</h2>
        <fb-like-box link="https://www.facebook.com/coveracademy" width="820" height="190" faces="true" theme="dark">
        </fb-like-box>
      </div>
    </div>
  </div>
</div>