<div class="modal-header">
  <button ng-click="close()" type="button" class="close" aria-hidden="true">
    &times;
  </button>
  <h2 ng-if="validVote" class="no-margin">{{ 'incentive_vote_modal_header' | translate }}</h2>
  <h2 ng-if="!validVote" class="no-margin">{{ 'your_vote_is_not_valid_yet' | translate }}</h2>
</div>
<div id="incentive-vote" class="modal-body">
  <div id="incentive">
    <div class="row">
      <div ng-if="!validVote" class="col-md-12">
        <div class="alert alert-warning margin-top">
          <h3 class="no-margin">{{ 'you_must_vote_in_at_least_two_contestants' | translate }}</h3>
        </div>
      </div>
      <div ng-if="validVote" class="col-md-12">
        <h3 class="text-center">
          {{ 'you_can_still_vote_for_other_contestants' | translate: {remainingVotes: remainingVotes} }}
        </h3>
        <div class="alert alert-info margin-top">
          <h4 class="no-margin">{{ 'incentive_vote_modal_description' | translate }}</h4>
        </div>
      </div>
    </div>
    <div class="row margin-bottom20" ng-repeat="row in randomAuditions | partition: 3">
      <div ng-repeat="audition in row" class="col-md-4">
        <audition ng-model="audition" locale="{{ locale }}" thumb-size="small" audition-click="close()">
        </audition>
      </div>
    </div>
  </div>
  <div id="join-community">
    <div class="row">
      <div class="col-md-12">
        <h3 class="no-margin">{{ 'lets_create_the_largest_community' | translate }}</h3>
        <h2 class="no-margin text-center">{{ 'like_on_facebook' | translate }}</h2>
        <div class="margin-top20">
          <fb-like-box link="https://www.facebook.com/coveracademy" width="500" height="190" faces="true" theme="dark">
          </fb-like-box>
        </div>
      </div>
    </div>
  </div>
</div>