<div class="modal-header">
  <button ng-click="modalScope.cancel()" type="button" class="close" aria-hidden="true">
    &times;
  </button>
  <h2 class="align-center">{{ 'join_community_modal_header' | translate }}</h2>
</div>
<div id="incentive-vote" class="modal-body">
  <div id="incentive">
    <div class="row">
      <div class="col-md-12">
        <h3 class="align-center no-margin">
          {{ 'join_community_modal_description' | translate }}
        </h3>
      </div>
    </div>
  </div>
  <div id="join-community">
    <div class="row align-center">
      <div class="col-md-12">
        <fb-like-box link="https://www.facebook.com/coveracademy" width="820" height="190" faces="true" theme="dark">
        </fb-like-box>
      </div>
    </div>
  </div>
</div>